.report-header {
  border-bottom: solid 1px #eee;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.mat-tab-body-content {
  overflow: auto;
  padding: 15px !important;
}

.standard-reports-home-page {
  margin-top: 15px;
}

::ng-deep .p-tabview-nav-link {
  outline: none !important;
  box-shadow: none !important;
}

::ng-deep .p-listbox-item {
  outline: none !important;
  box-shadow: none !important;
}

::ng-deep .p-accordion-header-link {
  outline: none !important;
  box-shadow: none !important;
  text-decoration: none !important;
}

::ng-deep .p-tabview-nav-link {
  margin-right: 15px !important;
}
