<div
  style="padding: 0 5px"
  *ngIf="{
    clubSavingState: clubSavingState$ | async,
    currentClub: currentClub$ | async,
    clubEditingState: clubEditingState$ | async
  } as params"
>
  <div class="h4 w-100 p-3">Register a club</div>
  <hr style="margin: 2px" />

  <div class="p-3">
    <div
      class="success-save-message"
      *ngIf="
        (isClubAdded && savingClubMessage) ||
        (isClubEdited && savingClubMessage)
      "
    >
      {{ savingClubMessage }}
    </div>
    <div style="height: 470px">
      <div>
        <button
          class="w-100 text-left p-2"
          (click)="onToggleOuFilter($event)"
          mat-stroked-button
        >
          Organisation unit:
          <b>
            <span *ngIf="selectedOrgUnits && selectedOrgUnits?.length > 0">{{
              selectedOrgUnits[0]?.name
            }}</span>
          </b>
        </button>
        <div *ngIf="ouFilterIsSet">
          <ngx-dhis2-org-unit-filter
            [selectedOrgUnitItems]="selectedOrgUnits"
            [orgUnitFilterConfig]="orgUnitFilterConfig"
            (orgUnitClose)="onFilterClose($event)"
            (orgUnitUpdate)="onFilterUpdate($event)"
          ></ngx-dhis2-org-unit-filter>
        </div>
      </div>
      <div *ngIf="selectedOrgUnits && selectedOrgUnits?.length > 0">
        <app-form
          [fields]="formFields"
          [fieldsData]="currentFormData"
          (formUpdate)="onFormUpdate($event)"
        >
        </app-form>
      </div>
    </div>
    <div
      class="p-2 d-flex justify-content-end"
      style="border-top: solid 1px #eee"
    >
      <button
        style="margin-right: 8px"
        mat-stroked-button
        (click)="onClose($event)"
      >
        Close
      </button>
      <button
        *ngIf="isAddingClub"
        [disabled]="!isFormValid || isClubAdded"
        mat-stroked-button
        class="mel-btn-primary"
        (click)="onSaveClubDetails($event)"
      >
        <mat-spinner
          *ngIf="params?.clubSavingState"
          color="accent"
          [diameter]="20"
          style="display: inline-block !important; margin-right: 4px"
        >
        </mat-spinner>
        Save
      </button>
      <button
        *ngIf="!isAddingClub"
        [disabled]="!isFormValid || isClubEdited"
        mat-stroked-button
        class="mel-btn-primary"
        (click)="onEditClubDetails($event, params?.currentClub)"
      >
        <mat-spinner
          *ngIf="params?.clubEditingState"
          color="accent"
          [diameter]="20"
          style="display: inline-block !important; margin-right: 4px"
        >
        </mat-spinner>
        Edit
      </button>
    </div>
  </div>
</div>
