<div
  *ngIf="{
    program: program$ | async,
    programsLoadedState: programsLoadedState$ | async
  } as params"
>
  <div class="p-2" sty>
    <div class="h5 text-left">{{ params?.program?.name }}</div>
    <hr />
    <div style="height: 460px; overflow: auto; padding: 5px 15px">
      <div
        *ngIf="
          params?.programsLoadedState &&
          params?.program?.programTrackedEntityAttributes
        "
      >
        <app-default-form-entry
          [isTrackedEntityInstanceAttributes]="true"
          [trackedEntityAttributes]="
            params?.program?.programTrackedEntityAttributes
          "
          [trackedEntityType]="params?.program?.trackedEntityType"
          [dataElements]="[]"
          [programName]="params?.program?.name"
          (formData)="onGetFormData($event)"
          (isFormValid)="onCheckFormValidity($event)"
        ></app-default-form-entry>
      </div>

      <mat-progress-bar
        *ngIf="!params?.programsLoadedState"
        mode="indeterminate"
      ></mat-progress-bar>
    </div>
    <div class="p-2" style="border-top: solid 1px #eee">
      <button
        mat-stroked-button
        (click)="onClose($event)"
        class="mr-2 float-right"
      >
        Close
      </button>
      <button
        [disabled]="!isFormValid || isItemAdded"
        class="mr-2 float-right"
        mat-stroked-button
        (click)="onSave($event, params?.program?.trackedEntityType)"
      >
        <mat-spinner
          *ngIf="savingData"
          color="accent"
          [diameter]="20"
          style="display: inline-block !important; margin-right: 4px"
        >
        </mat-spinner>
        Save
      </button>
    </div>
  </div>
</div>
