<div class="container-fluid">
  <div class="row" *ngIf="procedureGroups">
    <div class="col-md-3">
      <ul class="list-group">
        <li class="list-group-item-header" style="border: none !important;">
          Departments
        </li>
        <li
          class="list-group-item"
          [ngClass]="{
            'active-department': currentResourceGroup.id == procedure.id
          }"
          (click)="onSetCurrentResourceGroup(procedure)"
          *ngFor="let procedure of procedureGroups"
        >
          <div
            class="row"
            [ngClass]="{
              'active-department': currentResourceGroup.id == procedure.id
            }"
          >
            <div
              class="col-1"
              style="padding: 10px 0px 10px 2px !important"
              [ngClass]="{
                'selected-item': currentResourceGroup.id == procedure.id,
                '': currentResourceGroup.id != procedure.id
              }"
            ></div>
            <div class="col-11" style="padding: 10px 0px 10px 2px !important">
              {{ procedure.name }}
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-md-9">
      <div *ngIf="isFormSelectionSet">
        <app-resources-list
          [resources]="procedures[currentResourceGroup.id]"
          [currentUser]="currentUser"
          [userGroup]="currentResourceGroup"
          [userGroups]="userGroups"
        >
        </app-resources-list>
      </div>
    </div>
  </div>
</div>
