.dashboard-header-container {
  display: flex;
  justify-content: space-between;

  .dashboard-title-block {
    display: flex;
    align-items: center;

    .dashboard-title {
      display: flex;
      align-items: center;
    }
  }

  .dashboard-search-block {
    display: flex;
    justify-content: space-between;

    .dashboard-print-btn {
      display: flex;
      align-items: center;
      border-radius: 5px;
      img {
        height: 15px;
      }
    }
  }
}

.dashboard-options {
  display: flex;
  justify-content: flex-end;
}

.dashboard-global-filter {
  margin-left: 3px;
}

.dashboard-description {
  margin-left: 4px;
  text-align: justify;
}

.current-dashboard-share-button,
.current-dashboard-bookmark-button,
.current-dashboard-global-filter {
  margin-left: 5px;
}

.current-dashboard-global-filter {
  display: flex;
  align-items: center;
}
