<div *ngIf="!programs">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<div>
  <div class="d-flex justify-content-between">
    <mat-form-field class="w-50">
      <mat-label>Search form</mat-label>
      <mat-icon matPrefix>search</mat-icon
      ><input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ex. form bbb"
      />
    </mat-form-field>
  </div>
  <table
    class="mat-elevation-z2"
    mat-table
    [dataSource]="dataSource"
    style="width: 100%"
  >
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td
        mat-cell
        routerLink="{{ element.category }}/{{ element.type }}/{{ element.id }}"
        style="cursor: pointer"
        *matCellDef="let element"
      >
        {{ element.position }}
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Form</th>
      <td
        mat-cell
        routerLink="{{ element.category }}/{{ element.type }}/{{ element.id }}"
        style="cursor: pointer"
        *matCellDef="let element"
      >
        {{ element.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="department">
      <th mat-header-cell *matHeaderCellDef>Department</th>
      <td
        mat-cell
        routerLink="{{ element.category }}/{{ element.type }}/{{ element.id }}"
        style="cursor: pointer"
        *matCellDef="let element"
      >
        {{ element.department }}
      </td>
    </ng-container>
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td
        mat-cell
        routerLink="{{ element.category }}/{{ element.type }}/{{ element.id }}"
        style="cursor: pointer"
        *matCellDef="let element"
      >
        {{ element.type }}
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          matTooltip="More actions on form"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="menu-options">
          <button
            mat-menu-item
            routerLink="{{ element.category }}/{{ element.type }}/{{
              element.id
            }}"
          >
            <mat-icon>remove_red_eye</mat-icon>
            <span>View</span></button
          ><button
            *ngIf="canPerformMaintenance && element.type == 'upload'"
            mat-menu-item
            (click)="openConfiguration(element)"
          >
            <mat-icon>account_tree</mat-icon>
            <span>Set data flow</span>
          </button>
          <button
            *ngIf="canPerformMaintenance && element.type == 'upload'"
            mat-menu-item
            (click)="delete(element, false)"
          >
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
          <button
            *ngIf="canPerformMaintenance"
            mat-menu-item
            (click)="openSharingSettings(element)"
          >
            <mat-icon>settings</mat-icon>
            <span>Sharing settings</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 15, 20, 25, 50, 100]"
    showFirstLastButtons
  ></mat-paginator>
</div>

<!-- Delete -->
<mat-card
  class="confirmation-div mat-elevation-z10"
  *ngIf="currentProgram && shouldDelete"
>
  <div>
    <div class="control-btns">
      <button mat-stroked-button (click)="delete(currentProgram, true)">
        <span style="color: red">Confirm</span>
      </button>
      <button
        mat-stroked-button
        (click)="cancelDeletion()"
        style="margin-left: 6px"
      >
        <span style="color: #457b49">Cancel</span>
      </button>
    </div>
  </div>
  <div>
    {{ deleteMessage }}
  </div>
</mat-card>
<!-- End of delete -->

<mat-card
  *ngIf="configurationOpened && (userGroups$ | async)"
  class="configuration-area mat-elevation-z10"
>
  <div class="row">
    <div class="col-12">
      <button
        style="float: right"
        mat-stroked-button
        (click)="closeConfigurationArea()"
      >
        Close
      </button>
    </div>
    <div class="col-12">
      <h4>{{ currentProgram.name }}</h4>
    </div>
    <div class="col-12" style="margin-top: 20px">
      <div
        class="row"
        *ngIf="configuredGroups && configuredGroups.length > 0 && setRemove"
      >
        <div class="col-12" style="height: 200px;overflow: auto">
          <h5>Configured groups</h5>
          <hr />
          <table style="width: 70%">
            <thead>
              <tr>
                <th>Group</th>
                <th>Data flow stages</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let group of configuredGroups; let i = index">
                <td>
                  {{ group.name }}
                </td>
                <td>{{ group.order }}</td>
                <td title="Remove">
                  <button
                    mat-stroked-button
                    (click)="removeGroup(group)"
                    style="border: none; background-color: transparent"
                  >
                    <span>X</span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row" style="margin-top: 15px">
        <div class="col-12">
          <h5>Set data flow here</h5>
          <hr />
        </div>
        <div class="col-2">
          <!-- <input [(ngModel)]="level" /> -->

          <mat-form-field class="example-full-width" style="width: 90px">
            <mat-label>Level</mat-label>
            <input
              min="1"
              type="number"
              [(ngModel)]="level"
              matInput
              placeholder="2"
            />
            <mat-icon matSuffix>mode_edit</mat-icon>
          </mat-form-field>
        </div>
        <div class="col-8">
          <div class="row">
            <div class="col-12 d-flex justify-content-between">
              <mat-form-field class="w-100">
                <mat-label>Search group</mat-label>
                <mat-icon matPrefix>search</mat-icon>
                <input matInput [(ngModel)]="userGroupSearchingText" />
              </mat-form-field>
            </div>
            <div class="col-12" style="height: 120px; overflow: auto">
              <div
                (click)="addGroupToConfigs(userGroup)"
                style="padding: 8px 0; cursor: pointer; border-bottom: solid 1px #eee"
                *ngFor="
                  let userGroup of userGroups$
                    | async
                    | filterUserGroup: userGroupSearchingText
                "
              >
                {{ userGroup.displayName }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-2"></div>
      </div>
      <div class="col-12">
        <button mat-stroked-button style="float: right" (click)="saveConfigs()">
          Save
        </button>
      </div>
    </div>
    <div *ngIf="message != ''" style="margin-top: 20px">
      {{ message }}
    </div>
  </div> </mat-card
><mat-card *ngIf="sharingSettings" class="sharing-settings mat-elevation-z10">
  <div *ngIf="!(programMetadata$ | async)">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <!-- {{ programMetadata$ | async | json }} -->
  <div class="padding:20px" *ngIf="programMetadata$ | async">
    <div style="padding: 0px 0px 20px 0px">
      <div class="row">
        <div class="col-8">
          <h4 style="float: left">Sharing settings</h4>
        </div>
        <div class="col-4">
          <button
            style="float: right"
            mat-stroked-button
            (click)="closeSharingSettings()"
          >
            Close
          </button>
        </div>
      </div>
    </div>
    <div style="padding: 0px 0px 15px 0px">
      <h5>{{ programMetadata.name }}</h5>
    </div>
    <div>
      <h6>Data flow Departments</h6>
      <hr />
    </div>
    <div style="padding: 2px 20px;max-height: 150px; overflow: auto;">
      <div *ngIf="(programMetadata$ | async)?.userGroupAccesses">
        <div
          class="row"
          *ngFor="let access of (programMetadata$ | async)?.userGroupAccesses"
        >
          <div
            style="border-bottom: solid 1px #eee; padding: 15px 0px"
            class="col-10"
          >
            {{ access.displayName }}
          </div>
          <div class="col-2" style="padding: 15px 0px">
            <div>
              <mat-icon
                title="Remove {{ access.displayName }}"
                (click)="removeUserGroupAccess(access, programMetadata)"
                style="cursor: pointer;"
                >remove</mat-icon
              >
              <!-- <span style="float: left"></span> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="padding: 4px 20px" *ngIf="sharingSettingsMessage != ''">
      <div class="status-message">
        <span>{{ sharingSettingsMessage }}</span>
      </div>
    </div>
    <div style="padding: 15px 30px">
      <div class="row">
        <div class="col-12 d-flex justify-content-between">
          <mat-form-field class="w-100">
            <mat-label>Search group</mat-label>
            <mat-icon matPrefix>search</mat-icon>
            <input matInput [(ngModel)]="userGroupSearchingText" />
          </mat-form-field>
        </div>
        <div class="col-12" style="height: 120px; overflow: auto">
          <div
            (click)="addUserGroupToSharingSettings(userGroup, programMetadata)"
            style="padding: 8px 0; cursor: pointer; border-bottom: solid 1px #eee"
            *ngFor="
              let userGroup of userGroups
                | filterUserGroup: userGroupSearchingText
            "
          >
            {{ userGroup.displayName }}
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-card>

<div *ngIf="canPerformMaintenance">
  <button
    routerLink="new-form/{{ department.name }}/{{ department.id }}/new"
    tabindex="0"
    type="button"
    title="Add new upload form"
    style="border: 10px; box-sizing: border-box; font-family: Roboto, sans-serif; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); cursor: pointer; text-decoration: none; margin: 0px; padding: 0px; outline: none; font-size: inherit; font-weight: inherit; position: relative; vertical-align: bottom; background-color: #ca8c63; transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; height: 56px; width: 56px; overflow: hidden; border-radius: 50%; text-align: center;float: left; "
  >
    <div>
      <div
        style="transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; top: 0px;"
      >
        <svg
          class=""
          viewBox="0 0 24 24"
          style="display: inline-block; color: rgb(255, 255, 255); fill: rgb(255, 255, 255); height: 56px; width: 24px; user-select: none; transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; line-height: 56px;"
        >
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"></path>
        </svg>
      </div>
    </div>
  </button>
</div>
