<div *ngIf="!(currentUser$ | async)">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<div *ngIf="currentUser$ | async">
  <div class="row p-2">
    <div class="col-12 d-flex align-items-center mb-3  no-print">
      <button color="primary" mat-flat-button routerLink="/data-entry">
        <mat-icon>arrow_back</mat-icon>
        <span class="ml-2">BACK TO FORMS LIST</span>
      </button>
      <div class="ml-3 report-title">
        Adding new Upload form
      </div>
    </div>
    <div class="col-12">
      <mat-card>
        <div class="row">
          <div *ngIf="!(uids$ | async)" class="col-12">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </div>
        </div>
        <div class="row" *ngIf="uids$ | async">
          <div class="col-10">
            <mat-form-field class="example-full-width">
              <mat-label>Form name</mat-label>
              <input
                matInput
                placeholder="Name*"
                class="formControl"
                [(ngModel)]="name"
              />
            </mat-form-field>
          </div>
          <div class="col-2">
            <button
              mat-stroked-button
              [disabled]="name == '' || name.length < 3"
              style="float: right"
              (click)="saveProgram()"
            >
              Save
            </button>
          </div>
          <div class="col-12">
            <div>
              <p>{{ message }}</p>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
