<!-- <p>analysis-dashboard works!</p> -->
<div
  class="analysis-container"
  *ngIf="{ currentDashboard: currentDashboard$ | async } as params"
>
  <mat-progress-bar
    *ngIf="!params?.currentDashboard"
    mode="indeterminate"
  ></mat-progress-bar>
  <div class="row" *ngIf="params?.currentDashboard">
    <div class="col-12 playground-top-bar mat-elevation-z1">
      <button
        style="margin-bottom: 6px; background-color: transparent"
        mat-flat-button
        routerLink="/dashboards/{{ params?.currentDashboard }}"
      >
        <mat-icon>arrow_back</mat-icon>
        <span class="ml-2">BACK TO DASHBOARDS</span>
      </button>
    </div>

    <div class="col-12" style="margin-top: 20px">
      <div class="w-100">
        <mat-form-field class="ml-3 w-25">
          <input
            type="text"
            matInput
            [value]="favoriteTitle"
            (keyup)="onUpdateVisualizationName($event)"
            placeholder="Title"
          />
        </mat-form-field>
      </div>
      <div class="w-100 mb-2">
        <button mat-button [matMenuTriggerFor]="ChartOptions">
          <span>
            <img height="20" [src]="currentChartOption?.iconPath" />
          </span>
          <span>
            {{ currentChartOption?.name }}
          </span>
        </button>
        <mat-menu #ChartOptions="matMenu">
          <div style="padding: 15px">
            <div class="row">
              <div
                class="col-md-6 col-sm-6 col-sx-6"
                *ngFor="let chartType of supportedChartTypes"
              >
                <a
                  mat-menu-item
                  (click)="setCurrentChartType($event, chartType)"
                >
                  <span>
                    <img height="30" [src]="chartType?.iconPath" />
                  </span>
                  <span>
                    {{ chartType?.name }}
                  </span>
                </a>
              </div>
            </div>
          </div>
        </mat-menu>
        <button
          class="ml-2"
          mat-stroked-button
          [disabled]="dataSelections?.length < 3"
          (click)="onUpdate($event)"
        >
          Update
        </button>
      </div>
      <div class="d-flex bg-white border-bottom" cdkDropListGroup>
        <div class="col-md-4 col-sm-12 col-sx-12 border-right">
          <div class="border-bottom" style="margin-right: -15px">
            <div class="w-100" style="background-color: #eee">
              <small class="text-muted">Columns:</small>
            </div>
            <div
              class="selection-list"
              [id]="'columns'"
              cdkDropList
              [cdkDropListData]="visualizationLayout.columns"
              (cdkDropListDropped)="drop($event)"
            >
              <span
                *ngFor="let column of visualizationLayout?.columns"
                class="selection-button"
                (click)="toggleCurrentFilter($event, column.id, 'columns')"
                cdkDrag
              >
                <mat-icon class="text-muted" inline="true">{{
                  column.icon
                }}</mat-icon>
                <span class="ml-1"
                  >{{ column?.name }}
                  {{
                    selectedCounts[column.id]
                      ? ': ' + selectedCounts[column.id] + ' Selected'
                      : ''
                  }}</span
                >
              </span>
            </div>
          </div>
          <div style="margin-right: -15px">
            <div class="w-100" style="background-color: #eee">
              <small class="text-muted">Rows:</small>
            </div>
            <div
              class="selection-list"
              [id]="'rows'"
              cdkDropList
              [cdkDropListData]="visualizationLayout.rows"
              (cdkDropListDropped)="drop($event)"
            >
              <span
                *ngFor="let row of visualizationLayout.rows"
                class="selection-button d-flex align-items-center"
                (click)="toggleCurrentFilter($event, row.id, 'rows')"
                cdkDrag
              >
                <mat-icon class="text-muted" inline="true">{{
                  row.icon
                }}</mat-icon>
                <span class="ml-1"
                  >{{ row.name
                  }}{{
                    selectedCounts[row.id]
                      ? ': ' + selectedCounts[row.id] + ' Selected'
                      : ''
                  }}</span
                >
              </span>
            </div>
          </div>
        </div>
        <div class="col-md-8 col-sm-12 col-sx-12">
          <div class="w-100" style="background-color: #eee; margin-left: -15px">
            <small class="text-muted">Filters:</small>
          </div>
          <div
            style="margin-left: -15px"
            class="selection-list"
            [id]="'filters'"
            cdkDropList
            [cdkDropListData]="visualizationLayout.filters"
            (cdkDropListDropped)="drop($event)"
          >
            <span
              *ngFor="let filter of visualizationLayout.filters"
              class="selection-button d-flex align-items-center"
              (click)="toggleCurrentFilter($event, filter.id, 'filters')"
              cdkDrag
            >
              <mat-icon class="text-muted" inline="true">{{
                filter.icon
              }}</mat-icon>
              <span class="ml-1"
                >{{ filter.name
                }}{{
                  selectedCounts[filter.id]
                    ? ': ' + selectedCounts[filter.id] + ' Selected'
                    : ''
                }}</span
              >
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- {{ dataSelections?.length }} -->
    <div
      class="col-12"
      *ngIf="dataSelections && dataSelections?.length > 2 && updated"
    >
      <app-current-playground-visualization
        [dataSelections]="dataSelections"
        [layout]="layout"
        [favoriteTitle]="favoriteTitle"
        [chartType]="currentChartOption"
      ></app-current-playground-visualization>
    </div>
  </div>
</div>
