.analysis-container {
  padding: 15px 2px;
}

.playground-top-bar {
  padding: 5px 0 0 0 !important;
  margin-top: -15px;
}

.selection-filter-container {
  position: relative;
}

.selection-filter-header {
  display: flex;
}

.selection-filter-btn {
  width: auto !important;
  outline: none;
}

.selection-filter-btn:disabled {
  cursor: not-allowed;
  opacity: 0.4;
}

.selection-filter-btn img {
  height: 13px;
}

.filter-control-btn {
  width: 50px;
  border: none;
  box-shadow: none;
  font-size: 16px;
  color: #00796b;
  margin-right: 20px;
}

.filter-control-btn:hover {
  background-color: transparent;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
}

.selection-filter-name {
  font-size: 12px;
  margin-left: 3px;
  margin-right: 3px;
  display: flex;
  align-items: center;
  height: 30px;
}

.selection-filter-btn-list {
  display: flex;
  justify-content: space-around;
  margin-left: 3px;
}

.selection-filter-btn-list > button {
  margin-left: 3px;
}

.selection-filter-btn-list > button > img {
  height: 13px;
}

.selection-filter-btn-list > button:first-child {
  margin-left: 0;
}

.active-filter {
  background-color: #f1f1f1;
}

.selection-filter-body {
  position: absolute;
  /* top: 40px; */
  background-color: rgba(255, 255, 255, 0.95);
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12);
  padding: 15px;
  min-width: 600px;
  min-height: 250px;
  z-index: 1320;
}

.arrow-up {
  transform: rotate(180deg);
}

.selection-list {
  min-height: 40px;
  width: 100%;
  overflow: hidden;
  display: flex;
}

.cdk-drag-disabled {
  background: #ccc;
  cursor: pointer;
}

.selection-button {
  display: flex;
  align-items: center;
  padding: 7px;
  font-size: 13px;
  height: 30px;
  background-color: #3ea9d9;
  border-radius: 3px;
  cursor: pointer;
  color: #fff;
}

.selection-button mat-icon {
  font-size: 17px;
  margin-top: 5px;
}

.filter-input,
.filter-input input {
  margin-left: 20px;
  cursor: pointer;
}

.filter-input mat-icon {
  color: gray;
}
.filter-button {
  height: 40px;
  background-color: #ffffff;
  border-color: #999;
}

.filter-menu-item {
  font-size: 14px;
  height: 40px;
  line-height: 40px;
}

.filter-menu-item .mat-icon {
  margin-top: 4px;
  font-size: 15px;
  margin-right: -1px;
}
@media (max-width: 500px) {
  .selection-filter-body {
    width: 95%;
  }
}

a {
  text-decoration: none !important;
}

::ng-deep .mat-menu-panel {
  min-width: 350px;
  max-width: 480px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  max-height: calc(70vh - 48px);
  border-radius: 4px;
  outline: 0;
  min-height: 64px;
}
