<div *ngIf="{ items: items$ | async } as params">
  <div class="text-left h5 p-2" style="margin-top: 5px">
    Data for <b>{{ ou?.name }}</b>
  </div>
  <hr style="margin: 2px 0" />
  <!-- {{ club | json }} -->
  <div>
    <div class="p-4" style="height: 460px; overflow: auto">
      <mat-progress-bar
        *ngIf="!params?.items"
        mode="indeterminate"
      ></mat-progress-bar>
      <div *ngIf="params?.items">
        <app-members-list [members]="params?.items"></app-members-list>
      </div>
    </div>
    <div class="p-3" style="border-top: solid 1px #eee">
      <button
        mat-stroked-button
        (click)="onClose($event)"
        class="mr-2 float-right"
      >
        Close
      </button>
    </div>
  </div>
</div>
