<div
  *ngIf="{
    queryResponseData: queryResponseData$ | async,
    savedUserDataStore: savedUserDataStore$ | async
  } as params"
>
  <app-tracked-entity-instance-list
    *ngIf="params?.queryResponseData && params?.savedUserDataStore"
    [queryResponse]="params?.queryResponseData"
    [savedUserDataStore]="params?.savedUserDataStore"
    [orgUnit]="orgUnit"
    [program]="program"
    (edit)="onSetEdit($event)"
    (delete)="onSetDelete($event)"
    (setColumnsToShow)="onOpenDialogForSettingClomnsData($event)"
  ></app-tracked-entity-instance-list>
  <mat-progress-bar
    mode="indeterminate"
    *ngIf="!params?.queryResponseData || !params?.savedUserDataStore"
  ></mat-progress-bar>
</div>
