<div class="entry-event p-1">
  <mat-accordion
    class="example-headers-align"
    multi
    *ngIf="!program?.programStages[0]?.dataEntryForm"
  >
    <mat-expansion-panel
      *ngFor="
        let programStageSection of program?.programStages[0]
          ?.programStageSections;
        let count = index
      "
      [expanded]="count === 0"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ programStageSection?.name }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div>
        <app-program-section
          [programStageSection]="programStageSection"
          [data]="data"
          [programStageDataElements]="programStageDataElements"
          (dataValues)="onDataValueChange($event)"
          (isFormValid)="onCheckValidity($event)"
        ></app-program-section>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <div
    style="overflow: auto"
    *ngIf="programStageDataElements && program?.programStages[0]?.dataEntryForm"
  >
    <ngx-dhis2-custom-forms-entry
      [htmlCustomForm]="program?.programStages[0]?.dataEntryForm['htmlCode']"
      [dataElements]="programStageDataElements"
      [indicators]="[]"
      [lastEvent]="
        events && events['events'] && events['events'].length > 0
          ? events['events'][0]
          : null
      "
      [elementsToDisable]="[]"
      [formType]="'event'"
      [formId]="program?.programStages[0]?.id"
      [elementsDataValues]="dataValues"
      (onCustomFormInputChange)="detailsOfTheChangedValue($event)"
      [statusUpdateOnDomElement]="statusArr"
    >
    </ngx-dhis2-custom-forms-entry>
  </div>
</div>
