<div
  class="row"
  *ngIf="{
    currentTrackedEntityInstance: currentTrackedEntityInstance$ | async
  } as params"
>
  <div [ngClass]="{ 'col-md-8': !isReportSet, 'col-12': isReportSet }">
    <mat-tab-group>
      <mat-tab
        *ngFor="let program of trainingRegistrationPrograms"
        label="{{ program?.name }}"
      >
        <div class="p-3">
          <div class="h5 w-100 text-left">{{ program?.name }}</div>
          <div class="btns w-100 p-2">
            <button
              mat-stroked-button
              class="mr-2 float-right"
              (click)="onToggleReportAndTraining($event)"
            >
              <span *ngIf="isReportSet">New Training</span>
              <span *ngIf="!isReportSet">Registered trainings</span>
            </button>
          </div>
          <div *ngIf="isReportSet" class="w-100">
            <app-trainings-list
              [program]="program"
              [ouId]="'zs9X8YYBOnK'"
              (edit)="onSetEdit($event, program)"
            ></app-trainings-list>
          </div>
          <div *ngIf="!isReportSet">
            <div
              class="success-save-message"
              *ngIf="!savingData && savingMessage != ''"
            >
              {{ savingMessage }}
            </div>
            <div
              style="
                height: 50vh;
                overflow: auto;
                margin-top: 20px;
                padding: 8px 15px;
              "
            >
              <div class="ou-filter">
                <button
                  style="text-align: left; padding: 10px 8px"
                  class="w-100"
                  (click)="onToggleOuFilter($event)"
                  mat-stroked-button
                >
                  Location
                  <span *ngIf="selectedOu && !ouFilterIsSet"
                    >: {{ selectedOu?.name }}</span
                  >
                </button>
                <ngx-dhis2-org-unit-filter
                  *ngIf="ouFilterIsSet"
                  [selectedOrgUnitItems]="selectedOrgUnits"
                  [orgUnitFilterConfig]="orgUnitFilterConfig"
                  (orgUnitClose)="onFilterClose($event)"
                  (orgUnitUpdate)="onFilterUpdate($event)"
                ></ngx-dhis2-org-unit-filter>
              </div>
              <app-tracked-entrity-entry-form
                [trackedEntityType]="program?.trackedEntityType"
                [formData]="formData"
                (dataValues)="onGetDataValues($event)"
                (isFormValid)="onGetFormValidity($event)"
              ></app-tracked-entrity-entry-form>
            </div>
            <div class="btns">
              <button
                class="mr-2 float-left"
                mat-stroked-button
                [disabled]="!isFormValid || savedData"
                (click)="onSaveData($event)"
              >
                <mat-spinner
                  *ngIf="savingData && savingMessage != ''"
                  color="accent"
                  [diameter]="20"
                  style="display: inline-block !important; margin-right: 4px"
                >
                </mat-spinner>
                Save
              </button>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>

    <!-- <div class="forms">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Select form</mat-label>
        <mat-select required (selectionChange)="getForm($event.value)">
          <mat-option
            *ngFor="let option of trainingRegistrationPrograms"
            [value]="option"
          >
            {{ option.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div> -->
  </div>
  <div [ngClass]="{ 'col-md-4': !isReportSet, '': isReportSet }"></div>
</div>
