button:hover {
  outline: none !important;
}

button {
  outline: none;
}

button:focus {
  outline: none !important;
}

.view-all {
  padding: 5px;
  text-decoration: underline;
  cursor: pointer;
  color: #3ea9d9;
  font-weight: 500;
}
