.dashboard-container {
  .dashboard-menu-container {
    position: fixed;
    margin-top: 2px;
    width: 100% !important;
    z-index: 2500;
    background-color: transparent;
  }
}

.dashboard-content {
  margin-top: 157px;
}

@media screen and (max-width: 1000px) {
  .dashboard-content {
    margin-top: 180px;
  }
}
