.dashboard-container {
  .dashboard-menu-container {
    position: absolute;
    // top: 48px;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1350;
    min-height: 50px;
    background-color: #ffffff;
  }
}

.dashboard-content {
  margin-top: 157px;
}

@media screen and (max-width: 1000px) {
  .dashboard-content {
    margin-top: 180px;
  }
}
