<div *ngIf="{ dataSets: dataSets$ | async } as params">
  <div class="row">
    <div class="col-12 h5 mat-elevation-z1 p-3" style="margin: 0">
      Data entry
    </div>
    <div
      class="col-md-12"
      *ngIf="
        (currentUser$ | async) &&
        (programs$ | async) &&
        (programs$ | async)?.length > 0 &&
        (userGroups$ | async) &&
        params?.dataSets
      "
    >
      <app-data-entry-dashboard
        [currentUser]="currentUser$ | async"
        [programs]="programs$ | async"
        [userGroups]="userGroups$ | async"
        [dataSets]="params?.dataSets"
      ></app-data-entry-dashboard>
    </div>
  </div>
  <mat-progress-bar
    *ngIf="
      !(currentUser$ | async) ||
      !(programs$ | async) ||
      !(userGroups$ | async) ||
      !params?.dataSets
    "
    mode="indeterminate"
  ></mat-progress-bar>
  <div
    *ngIf="
      (programs$ | async) &&
      (programs$ | async)?.length == 0 &&
      (programsLoadedState$ | async)
    "
  >
    <div style="padding: 20%">
      <p style="text-align: center">No any forms available</p>
    </div>
  </div>
</div>
