<div>
  <div class="row">
    <div
      class="col-md-12"
      *ngIf="
        (currentUser$ | async) &&
        (programs$ | async) &&
        (programs$ | async)?.length > 0
      "
    >
      <app-data-entry-dashboard
        [currentUser]="currentUser$ | async"
        [programs]="programs$ | async"
      ></app-data-entry-dashboard>
    </div>
  </div>
  <div class="col-12" *ngIf="!(currentUser$ | async)">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <div *ngIf="(programs$ | async) && (programs$ | async)?.length == 0">
    <div style="padding: 20%;">
      <p style="text-align: center">No any forms available</p>
    </div>
  </div>
</div>
