<div style="margin-top: 10px">
  <div class="row">
    <div
      class="col-ld-4 col-md-4 col-sx-12 col-sm-12"
      *ngFor="let tab of tabs; let count = index"
    >
      <mat-card class="card-container-for-custom-css">
        <mat-card-header>
          <mat-card-title class="card-title-container">{{
            tab?.name
          }}</mat-card-title>
          <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
        </mat-card-header>
        <mat-card-content
          style="min-height: 80px; max-height: 110; overflow: auto"
        >
          <p class="card-content-p">{{ tab?.description }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button
            [routerLink]="'/general-registration/' + tab?.id"
            style="color: #3ea9d9"
            mat-stroked-button
          >
            Open
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <!-- <mat-tab-group
    (selectedTabChange)="changeTab(selectedTab.value)"
    [selectedIndex]="selectedTab.value"
    (selectedIndexChange)="selectedTab.setValue($event)"
  >
    <mat-tab *ngFor="let tab of tabs; let count = index" [label]="tab?.name">
      <div class="p-1" *ngIf="tab?.id == 'ExyDMkddChQ'">
        <app-create-organisation-unit
          [selectedGroup]="tab"
          [programs]="programs"
          [currentUser]="currentUser"
          [clubCategories]="selectedAttribute?.optionSet?.options"
        ></app-create-organisation-unit>
      </div>

      <div class="p-1" *ngIf="tab?.id == 'q4SAf8ix9ww'">
        <app-training-registration
          [programs]="programs"
          [currentUser]="currentUser"
          [systemIds]="systemIds"
        ></app-training-registration>
      </div>

      <div
        class="p-1"
        *ngIf="tab?.id !== 'q4SAf8ix9ww' && tab?.id !== 'ExyDMkddChQ'"
      >
        <app-tracker-general-registration
          [programs]="programs"
          [currentUser]="currentUser"
          [systemIds]="systemIds"
          [userGroups]="userGroups"
          [selectedGroup]="tab"
        ></app-tracker-general-registration>
      </div>
    </mat-tab>
  </mat-tab-group> -->
</div>
