::ng-deep .p-tabview-nav-link {
  outline: none !important;
  box-shadow: none !important;
}

::ng-deep .p-listbox-item {
  outline: none !important;
  box-shadow: none !important;
}

::ng-deep .p-accordion-header-link {
  outline: none !important;
  box-shadow: none !important;
  text-decoration: none !important;
}

::ng-deep .p-tabview-nav-link {
  margin-right: 15px !important;
}

.card-title-container {
  font-size: 1rem !important;
  color: #3ea9d9 !important;
  font-weight: 600 !important;
}

.card-container-for-custom-css {
  max-height: 220px !important;
  margin-bottom: 15px;
}

.card-content-p {
  font-size: 0.8rem;
}

::ng-deep .mat-card-header-text {
  margin: 0 !important;
}
