<div style="margin-top: 10px; margin-left: -15px; margin-right: -10px">
  <mat-tab-group
    (selectedTabChange)="changeTab(selectedTab.value)"
    [selectedIndex]="selectedTab.value"
    (selectedIndexChange)="selectedTab.setValue($event)"
  >
    <mat-tab *ngFor="let tab of tabs; let count = index" [label]="tab?.name">
      <div class="p-1" *ngIf="tab?.id == 'ExyDMkddChQ'">
        <app-create-organisation-unit
          [selectedGroup]="tab"
          [programs]="programs"
          [currentUser]="currentUser"
          [clubCategories]="selectedAttribute?.optionSet?.options"
        ></app-create-organisation-unit>
      </div>

      <div class="p-1" *ngIf="tab?.id == 'q4SAf8ix9ww'">
        <app-training-registration
          [programs]="programs"
          [currentUser]="currentUser"
          [systemIds]="systemIds"
        ></app-training-registration>
      </div>

      <div
        class="p-1"
        *ngIf="tab?.id !== 'q4SAf8ix9ww' && tab?.id !== 'ExyDMkddChQ'"
      >
        <app-tracker-general-registration
          [programs]="programs"
          [currentUser]="currentUser"
          [systemIds]="systemIds"
          [userGroups]="userGroups"
          [selectedGroup]="tab"
        ></app-tracker-general-registration>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
