<div style="margin-top: -10px; margin-left: -15px; margin-right: -10px">
  <p-tabView>
    <p-tabPanel
      [header]="tab.name"
      *ngFor="let tab of tabs; let count = index"
      [selected]="count == 0"
    >
      <div class="p-1" *ngIf="tab?.id == 'ExyDMkddChQ'">
        <app-create-organisation-unit
          [selectedGroup]="tab"
          [programs]="programs"
          [currentUser]="currentUser"
          [clubCategories]="selectedAttribute?.optionSet?.options"
        ></app-create-organisation-unit>
      </div>
      <ng-template *ngIf="tab?.id == 'q4SAf8ix9ww'" pTemplate="content">
        <div class="p-1">
          <app-training-registration
            [programs]="programs"
            [currentUser]="currentUser"
            [systemIds]="systemIds"
          ></app-training-registration>
        </div>
      </ng-template>

      <ng-template
        *ngIf="tab?.id !== 'q4SAf8ix9ww' && tab?.id !== 'ExyDMkddChQ'"
        pTemplate="content"
      >
        <div class="p-1">
          <app-tracker-general-registration
            [programs]="programs"
            [currentUser]="currentUser"
            [systemIds]="systemIds"
            [userGroups]="userGroups"
            [selectedGroup]="tab"
          ></app-tracker-general-registration>
        </div>
      </ng-template>
    </p-tabPanel>
  </p-tabView>
  <!-- <mat-tab-group
    [selectedIndex]="selectedTab.value"
    (selectedIndexChange)="selectedTab.setValue($event)"
  >
    <mat-tab
      label="{{ tab?.name }}"
      (click)="changeTab(count)"
      *ngFor="let tab of tabs; let count = index"
    >
    </mat-tab>
  </mat-tab-group> -->
</div>
