<div style="min-width: 150%" *ngIf="dataValues && dataValues.length > 0">
  <mat-form-field style="width: 30%">
    <mat-label>Search</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex. 2020-08-12"
    />
  </mat-form-field>
  <table
    class="mat-elevation-z2"
    mat-table
    [dataSource]="dataSource"
    style="width: 100%"
  >
    <ng-container
      matColumnDef="{{ column }}"
      *ngFor="let column of displayedColumns"
    >
      <th mat-header-cell *matHeaderCellDef>{{ keyedHeaders[column] }}</th>
      <td
        [ngStyle]="{
          'background-color':
            selectedEventId == element.id ? '#9fdedb' : 'transparent'
        }"
        mat-cell
        style="cursor: pointer"
        (click)="setEvent(element)"
        *matCellDef="let element"
      >
        {{ element[column] }}
      </td>
    </ng-container>

    <!-- <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="More actions on resource">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item *ngIf="!element.action.external" (click)="openResource(element.action.url)">
                        <mat-icon>cloud_download</mat-icon>
                        <span>Download</span>
                    </button>
                    <button mat-menu-item *ngIf="element.action.external" (click)="openResource(element.action.url)">
                        <mat-icon>link</mat-icon>
                        <span>View</span>
                    </button>
                    <button mat-menu-item (click)="deleteResource(element.action.id, false)">
                        <mat-icon>delete</mat-icon>
                        <span>Delete</span>
                    </button>
                </mat-menu>
            </td>
        </ng-container> -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    style="float: left;margin-top: 5px;"
    [pageSizeOptions]="[5, 10, 15, 20, 25, 50, 100]"
    showFirstLastButtons
  ></mat-paginator>
</div>
<div
  style="width: 100%"
  *ngIf="!dataValues || (dataValues && dataValues.length == 0)"
>
  <h4 style="text-align: center; margin-top: 100px">No data</h4>
</div>
