<div *ngIf="{ currentOu: currentOu$ | async } as params">
  <div class="text-left p-2 h5" style="margin-top: 15px">
    {{ group?.name }}
  </div>
  <hr style="margin: 2px 0" />

  <div style="padding: 15px 30px">
    <div class="success-save-message" *ngIf="savingMessage">
      {{ savingMessage }}
    </div>
    <!-- {{ params?.currentOu | json }} -->
    <div style="height: 470px; padding: 15px; overflow: auto">
      <div>
        <button
          class="w-100 text-left p-2"
          (click)="onToggleOuFilter($event)"
          mat-stroked-button
        >
          Location/Parent Administrative Unit:
          <b>
            <span *ngIf="selectedOrgUnits && selectedOrgUnits?.length > 0">{{
              selectedOrgUnits[0]?.name
            }}</span>

            <span
              *ngIf="
                !selectedOrgUnits ||
                (selectedOrgUnits && selectedOrgUnits?.length === 0)
              "
              >Choose Administrative Unit</span
            >
          </b>
        </button>
        <div *ngIf="ouFilterIsSet">
          <ngx-dhis2-org-unit-filter
            [selectedOrgUnitItems]="selectedOrgUnits"
            [orgUnitFilterConfig]="orgUnitFilterConfig"
            (orgUnitClose)="onFilterClose($event)"
            (orgUnitUpdate)="onFilterUpdate($event)"
          ></ngx-dhis2-org-unit-filter>
        </div>
      </div>
      <div
        *ngIf="selectedOrgUnits && selectedOrgUnits?.length > 0 && formFields"
      >
        <app-form
          [fields]="formFields"
          [fieldsData]="currentFormData"
          (formUpdate)="onFormUpdate($event)"
        >
        </app-form>
      </div>
    </div>
    <div
      class="p-2 d-flex justify-content-end"
      style="border-top: solid 1px #eee"
    >
      <button
        mat-stroked-button
        (click)="onClose($event)"
        style="margin-right: 8px"
      >
        Close
      </button>
      <button
        *ngIf="isAddingOu"
        [disabled]="!isFormValid"
        mat-stroked-button
        (click)="onSave($event)"
        class="mel-btn-primary"
      >
        <mat-spinner
          *ngIf="saving"
          color="accent"
          [diameter]="20"
          style="display: inline-block !important; margin-right: 4px"
        >
        </mat-spinner>
        Save
      </button>

      <button
        *ngIf="!isAddingOu"
        [disabled]="!isFormValid || !params?.currentOu"
        mat-stroked-button
        (click)="onEditOu($event, params?.currentOu)"
        class="mel-btn-primary"
      >
        <mat-spinner
          *ngIf="saving"
          color="accent"
          [diameter]="20"
          style="display: inline-block !important; margin-right: 4px"
        >
        </mat-spinner>
        Edit
      </button>
    </div>
  </div>
</div>
