<div *ngIf="{ currentUser: currentUser$ | async } as params">
  <div
    *ngIf="
      eventsData &&
      eventsData?.length > 0 &&
      stageDataElements &&
      params?.currentUser
    "
  >
    <app-program-stage-data-list
      [data]="eventsData"
      [dataElements]="stageDataElements"
      [currentUser]="params?.currentUser"
      [category]="category"
      (edit)="onEdit($event)"
      (delete)="onDelete($event)"
      (updated)="onUpdateData($event)"
      (countOfEvents)="getCountOfEvents($event)"
    ></app-program-stage-data-list>
  </div>
  <div
    *ngIf="eventsData && eventsData?.length === 0 && params?.currentUser"
    class="text-center p-3"
  >
    <p>No data, use <b>Entry</b> to feed data</p>
  </div>

  <mat-progress-bar
    mode="indeterminate"
    *ngIf="!eventsData || !params?.currentUser"
  ></mat-progress-bar>
</div>
