table td {
  padding: 6px !important;
  text-align: justify;
  line-height: 1.5rem !important;
}

.mat-typography {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.download-btns {
  margin: 1px !important;
  min-width: 30px !important;
  padding: 2px !important;
  margin-right: 8px !important;
  background-color: #fff !important;
}

.download-btns:hover {
  background-color: #fff !important;
}
