<div class="visualization-header-section-container">
  <div class="visualization-filters no-print" *ngIf="showFilters && visualizationLayers && visualizationLayers[0]">
    <ngx-dhis2-selection-filters [dataSelections]="visualizationLayers[0].dataSelections"
      [layout]="visualizationLayers[0].layout" [visualizationConfig]="visualizationLayers[0].config"
      [visualizationType]="favoriteType" (filterUpdate)="onFilterUpdateAction($event)"
      (optionsUpdate)="onVisualizationOptionUpdate($event)" [selectionFilterConfig]="selectionFilterConfig">
    </ngx-dhis2-selection-filters>
    &nbsp;
  </div>
  <div *ngIf="!showFilters"></div>
  <div class="visualization-resize no-print" *ngIf="!hideResizeButtons" [@open]>
    <app-visualization-resize-section [id]="id" [fullScreen]="fullScreen"
      (toggleFullScreen)="onFullScreenAction($event)"></app-visualization-resize-section>
  </div>
</div>
