.dashboard-menu-container {
  position: relative;
  overflow: hidden;
  background: #fff;
  width: 100%;
  margin: 0 auto;
  color: #888;
  border-bottom: solid thin #eeeeee;

  .dashboard-groups {
    display: flex;
    padding: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    margin: 0;
    width: 100%;
    overflow: auto;

    li {
      line-height: 38px;
      position: relative;
      color: #888;
      font-weight: 500;
      cursor: pointer;
      display: inline-block;
      text-align: center;
      white-space: nowrap;
      width: 100%;
      letter-spacing: 0;
      outline: none;
      padding: 0 20px;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
    }
  }

  .dashboard-menu {
    height: 100%;
    overflow: auto;
    padding: 5px 10px;
    .dashboard-menu-list {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: nowrap;
      width: 100%;
      li {
        margin: 3px;
      }
    }
  }
}

.current {
  border-bottom: 2px solid #00796b;
}
