<div style="margin-top: 15px">
  <mat-progress-bar
    mode="indeterminate"
    *ngIf="!(resources$ | async) || !(currentUser$ | async) || !allDataLoaded"
  ></mat-progress-bar>
</div>
<div style="height: 90vh; background-color: #fff" class="row">
  <div class="col-md-12" *ngIf="allDataLoaded">
    <div
      mat-align-tabs="start"
      *ngIf="
        (resources$ | async) &&
        (currentUser$ | async) &&
        (userGroups$ | async) &&
        (resources$ | async)?.length > 0
      "
    >
      <app-forms
        [resources]="resources$ | async"
        [currentUser]="currentUser$ | async"
        [userGroups]="userGroups$ | async"
      ></app-forms>
    </div>
  </div>
</div>
