<div class="container-fluid">
  <div class="row" *ngIf="formsGroups" style="margin-top: 20px">
    <div class="col-md-3">
      <ul class="list-group">
        <li
          class="list-group-item-header"
          style="border: none !important; margin-left: -10px; margin-top: 15px"
        >
          Folders
        </li>
        <li
          class="list-group-item"
          [ngClass]="{
            'active-department': currentResourceGroup.id == department.id
          }"
          *ngFor="let department of formsGroups"
        >
          <div
            (click)="onSetCurrentResourceGroup(department)"
            *ngIf="
              department.managedGroups && department.managedGroups.length == 0
            "
            class="row"
            [ngClass]="{
              'active-department': currentResourceGroup.id == department.id
            }"
          >
            <div
              class="col-1"
              style="
                padding: 10px 0px 10px 2px !important;
                max-width: 1.8% !important;
              "
              [ngClass]="{
                'selected-item': currentResourceGroup.id == department.id,
                '': currentResourceGroup.id != department.id
              }"
            ></div>
            <div class="col-11" style="padding: 10px 0px 10px 2px !important">
              {{ department.name }}
            </div>
          </div>
          <div
            (click)="toggleSubItems(department)"
            class="row"
            style="padding: 8px 4px"
            *ngIf="
              department.managedGroups && department.managedGroups.length > 0
            "
          >
            <div class="col-1" style="max-width: 1.8% !important"></div>
            <div class="col-11" style="margin-left: -10px !important">
              {{ department.name }}
              <span
                *ngIf="
                  (!showSubMenu &&
                    departmentIdToShowSubMenu != department.id) ||
                  (showSubMenu && departmentIdToShowSubMenu != department.id) ||
                  (!showSubMenu && departmentIdToShowSubMenu == department.id)
                "
                style="float: right"
              >
                <!-- <img
                  height="15"
                  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAABmJLR0QA/wD/AP+gvaeTAAAB9ElEQVRoge2YSUoEMRSGvypwWDiAK3FA+wbSCi7EBk/geAm9gaIn0o1HcGhcCOJGcac4TzsndKEu8mJpq9Vp66VUyAchTdH9/XldVCoJBAKBQCAQCPw5IsfvFYFRoAS0A91y/Qg4B1aBZWBLrtcDc8CsfK6FuxTvj4iAKWAPeHFse8AkyR9UlEG5/t7V60wB2MgQXAZ6xdUB7CgUU+mtyhBwoRB6DYyIsxPYVyrmvfdbSsCjUuCLuEri7geePHg/UQCuFIuw7VLcAPOevG9EZHsmqrWyZDQChx68b0x5LMK2Ccma9uQlorYp9qdtV/JagHsPXoo5FGFbn2QuantjYIz8sFmr2t4YGFaWpmGzNrW9MeZllRc260jbGwE3QJOy+DtugWbMNPyg6Y0xD0tePEsfa3tj4ExZmsap9G3a3hg4UZamBkrfpe2NgTVlaRor0g/68P7GC3HJhzfvJUornpYoYLaRvgsZl6wZT17sXSl7LGJdchrR2cNXej/Qi9msaBdxCfRIxoIn7yd8bHXt+moA3a1u1TXiEOZMKWtY5eHDgVIRTocPlgLZnpl1ktveiZlZNIp473UmwmwjaxnELh9nkQHMyiFrAZXeLwfrQh/JkWkHyRLjGLPssEeb23K9geTItM4xw3Kb4g0EAoFAIBD4T7wCRyH981ztZJoAAAAASUVORK5CYII="
                /> -->

                <i
                  class="fa fa-angle-down"
                  style="font-weight: 600; font-size: 1.4rem"
                ></i>
              </span>

              <span
                *ngIf="
                  showSubMenu && departmentIdToShowSubMenu == department.id
                "
                style="float: right"
              >
                <!-- <img
                  height="15"
                  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAABmJLR0QA/wD/AP+gvaeTAAABFUlEQVRIie2UX07CQBCHvzSxPtCT8Cf2SeAseCWNCMHDVL0EegHlBMJDm5TUh/3VFJDKMtGn/SWTbbYz83WnOwNBQUF/qAEwBV6BDVCdaRvluAf6bcBLYAFsDbBjVgJzIP4J+mJMnqtSQ6AjGwIPelcBz/vwRyN0BVy1VDOVTwXM6s2Bsbz5L9AmPMeVvQfu51tOOz0BWmummDuANyP42gM8UswSYG0EJx7gRDGfkR7+S5HWKgI+jMm6Z/i+R0BmBN94+E60ZuDGWYmtndIToClQiPVdpbkBXA+QNnhzgOy0Xww8GeEFrk9HuNubAGPtFfLJgIv9r4rlZCn7MSt10gNoUz3cZFli6/G1ctzid/ODgoL89AVRZwZd9/BTTQAAAABJRU5ErkJggg=="
                /> -->

                <i
                  class="fa fa-angle-up"
                  style="font-weight: 600; font-size: 1.4rem"
                ></i>
              </span>
            </div>
          </div>
          <ul
            class="list-group"
            *ngIf="
              department.managedGroups &&
              department.managedGroups.length > 0 &&
              showSubMenu &&
              departmentIdToShowSubMenu == department.id
            "
          >
            <li
              class="list-group-item"
              [ngClass]="{
                'active-department': currentResourceGroup.id == depart.id
              }"
              (click)="onSetCurrentResourceGroup(depart)"
              *ngFor="let depart of department.managedGroups"
            >
              <div
                class="row"
                [ngClass]="{
                  'active-department': currentResourceGroup.id == depart.id
                }"
              >
                <div
                  class="col-1"
                  style="
                    padding: 10px 0px 10px 2px !important;
                    max-width: 1.8% !important;
                  "
                  [ngClass]="{
                    'selected-item': currentResourceGroup.id == depart.id,
                    '': currentResourceGroup.id != depart.id
                  }"
                ></div>
                <div
                  class="col-11"
                  style="padding: 10px 0px 10px 2px !important"
                >
                  {{ depart.name }}
                </div>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="col-md-9">
      <div *ngIf="isFormSelectionSet">
        <app-resources-list
          [resources]="forms[currentResourceGroup.id]"
          [currentUser]="currentUser"
          [userGroup]="currentResourceGroup"
          [userGroups]="userGroups"
        >
        </app-resources-list>
      </div>
    </div>
  </div>
</div>
