.application-content {
  margin-top: 5px;
}

.active-class {
  color: #42a6d7;
  outline: none;
  font-weight: 600 !important;
  background-color: #f2f2f2 !important;
}

.footer {
  position: fixed;
  left: 0;
  bottom: -20;
  width: 100%;
  margin-top: 20px;
  background-color: transparent;
  color: white;
  height: 70px;
  text-align: center;
}

a:hover {
  color: #ffffff;
  outline: none;
  text-decoration: none;
}
a {
  color: #000;
  outline: none;
  text-decoration: none;
}

.user-details-menu:hover {
  color: #222;
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  .user-details-menu {
    display: none;
  }
}

.header-banner {
  background-color: #3ea9d9;
  height: 50px;
  // padding: 10px;
  font-weight: 600;
  position: fixed;
  z-index: 100 !important;
}

.left-panel {
  margin-top: 53px;
  z-index: 190 !important;
  width: 200px;
  position: fixed;
  left: 0;
  height: calc(100vh - 55px);
}

.right-panel {
  margin-top: 53px;
  z-index: 90 !important;
  height: auto !important;
  margin-bottom: 53px;
  margin-left: 200px;
  width: calc(100% - 200px);
}

.left-img-lhrc {
  height: 144px !important;
  margin-left: -10px !important;
  margin-top: -10px !important;
}

.user-panel {
  padding: 0px !important;
}

.user-panel img {
  border-radius: 50% !important;
}

.dashboard-menu {
  margin: 10px 0 20px 0 !important;
}

.list-group-item {
  font-size: 1.1rem;
  border: none !important;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border-top: solid 1px #d9d9d9 !important;
}

.list-group-item:hover {
  outline: none !important;
  border: none !important;
  border-top: solid 1px #d9d9d9 !important;
}

.header-banner button {
  outline: none !important;
  border: none !important;
}
.header-banner button:hover {
  outline: none !important;
  border: none !important;
}
button.mat-menu-item {
  outline: none !important;
  border: none !important;
}
