<div>
  <div class="d-flex justify-content-between">
    <mat-form-field class="w-50">
      <mat-label>Search </mat-label>
      <mat-icon matPrefix>search</mat-icon
      ><input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ex. paralegal"
      />
    </mat-form-field>
  </div>
  <table
    class="mat-elevation-z2"
    mat-table
    [dataSource]="dataSource"
    style="width: 100%"
  >
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element">
        {{ element.position }}
      </td>
    </ng-container>

    <ng-container matColumnDef="region">
      <th mat-header-cell *matHeaderCellDef>Region</th>
      <td mat-cell *matCellDef="let element">
        {{ element.region }}
      </td>
    </ng-container>

    <ng-container matColumnDef="council">
      <th mat-header-cell *matHeaderCellDef>Council</th>
      <td mat-cell *matCellDef="let element">
        {{ element.council }}
      </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">
        {{ element.name }}
      </td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>status</th>
      <td mat-cell *matCellDef="let element">
        {{ element.status }}
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          matTooltip="More actions"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="menu-options">
          <button
            (click)="onEditOu($event, element)"
            *ngIf="!element?.closedDate"
            mat-menu-item
          >
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>
          <button
            *ngIf="group?.id === 'GOMCSNn5OdW' && !element?.closedDate"
            (click)="onAddClubMember($event, element)"
            mat-menu-item
          >
            <mat-icon>add</mat-icon>
            <span>Add club members</span>
          </button>
          <button
            *ngIf="group?.id === 'ltEpnsVKfQf' && !element?.closedDate"
            (click)="onAddParalegalMembers($event, element, 'aEGnQxdU1Ok')"
            mat-menu-item
          >
            <mat-icon>add</mat-icon>
            <span>Add paralegal members</span>
          </button>

          <button
            *ngIf="group?.id === 'ltEpnsVKfQf' && !element?.closedDate"
            (click)="onViewProgramData($event, element, 'aEGnQxdU1Ok')"
            mat-menu-item
          >
            <mat-icon>list</mat-icon>
            <span>View paralegal members</span>
          </button>

          <button
            *ngIf="group?.id === 'GOMCSNn5OdW'"
            (click)="onViewClubMembers($event, element)"
            mat-menu-item
          >
            <mat-icon>list</mat-icon>
            <span>View Club members</span>
          </button>
          <button (click)="onCloseClub($event, element)" mat-menu-item>
            <mat-icon *ngIf="!element?.closedDate">close</mat-icon>
            <mat-icon *ngIf="element?.closedDate">update</mat-icon>
            <span *ngIf="!element?.closedDate">Close / Deactivate</span>
            <span *ngIf="element?.closedDate">Activate</span>
          </button>
          <button
            *ngIf="!element?.closedDate"
            (click)="onDeleteOu($event, element)"
            mat-menu-item
          >
            <mat-icon>delere</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 15, 20, 25, 50, 100]"
    showFirstLastButtons
  ></mat-paginator>
</div>
