<!-- <div style="padding: 5px 25px">
  <div class="h6 p-2 text-center" *ngIf="itemName" style="margin-top: 20px">
    Are you sure to delete
    <b>
      {{ itemName }}
    </b>
  </div>

  <hr />
</div> -->
<div style="padding: 6px 25px">
  <h4 class="text-center">
    Are you sure to delete
    <b>
      {{ itemName }}
    </b>
  </h4>
  <mat-dialog-content>
    <div class="p-1">
      <p class="text-center" *ngIf="!deletingItem">
        {{
          (deleteResponse$ | async)?.status === 500 ||
          (deleteResponse$ | async)?.status === 404
            ? 'Failed, ' + (deleteResponse$ | async)?.message
            : 'Successfully deleted'
        }}
      </p>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div style="padding: 10px" class="d-flex justify-content-between">
      <button
        [disabled]="deletingItem || deletedItem"
        (click)="onConfirmDelete($event)"
        mat-stroked-button
        class="text-danger"
      >
        <mat-spinner
          *ngIf="deletingItem"
          color="accent"
          [diameter]="20"
          style="display: inline-block !important; margin-right: 4px"
        >
        </mat-spinner>
        Confirm
      </button>
      <button (click)="onClose($event)" mat-stroked-button>Close</button>
    </div>
  </mat-dialog-actions>
</div>
