<div class="row" style="margin-top: 15px;" *ngIf="resourcesList$ | async">
  <div class="col-md-3" style="padding-left: 0px !important">
    <ul class="list-group">
      <li class="list-group-item-header" style="border: none !important;">
        Departments
      </li>
      <li
        class="list-group-item"
        routerLinkActive="active-department"
        (click)="setDocumentTypeId(procedure)"
        routerLink="/procedures/{{ procedure.id }}"
        *ngFor="let procedure of resourcesList$ | async"
      >
        {{ procedure.name }}
      </li>
    </ul>
    <!-- <mat-nav-list>
      <mat-list-item *ngFor="let procedure of resourcesList$ | async">
        <a
          routerLinkActive="active-department"
          routerLink="/procedures/{{ procedure.id }}"
          >{{ procedure.name }}</a
        >
        <button mat-icon-button (click)="setDocumentTypeId(procedure.id)">
          <mat-icon>info</mat-icon>
        </button>
      </mat-list-item>
    </mat-nav-list> -->
  </div>
  <div class="col-md-9" style="padding-right: 0px !important">
    <div *ngIf="!(resourcesList$ | async) || !isProcedureTypeIdSet">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div *ngIf="isProcedureTypeIdSet">
      <app-documents
        [documentId]="documentId"
        [resourcesList]="resourcesList$ | async"
      ></app-documents>
    </div>
    <!-- <div
      *ngIf="
        (documentEntities$ | async) &&
        (documentEntities$ | async)[departmentId]['documents'] &&
        (documentEntities$ | async)[departmentId]['documents'].length > 0
      "
    >
      -->
    <!-- </div> -->
    <!-- <div *ngIf="isPreviewSet" class="row">
      <div class="col-md-12">
        <button mat-flat-button (click)="togglePreview()" style="float: right">
          Back
        </button>
        <button mat-flat-button (click)="download()" style="float: right">
          Download
        </button>
      </div>
      <div class="col-md-12">
        <pdf-viewer
          [src]="pdfSrc"
          [render-text]="true"
          style="display: block;"
        ></pdf-viewer>
      </div>
    </div> -->
  </div>
</div>
