<div class="row">
  <div
    class="col-md-12"
    *ngIf="
      (currentUser$ | async) &&
      (dataEntryFlowConfigs$ | async) &&
      (programMetadata$ | async) &&
      !isFormSet &&
      !formId
    "
  >
    <app-forms
      [currentUser]="currentUser$ | async"
      [dataEntryFlowConfigs]="dataEntryFlowConfigs$ | async"
      [programMetadata]="programMetadata$ | async"
      [trackerProgramId]="'IzEQE6HnpoC'"
      [trackedEntityType]="'GypuFqZTCTf'"
      [trackedEntityTypeName]="'Additive Inspection Form'"
      (selectedForm)="onSelectForm($event)"
      (dataEntryFlowAndForm)="onGetDataEntryFlowAndForm($event)"
    ></app-forms>
  </div>
  <div
    class="col-md-12"
    style="margin-top: 15px; padding: 15px !important;overflow-x: none !important;"
    *ngIf="currentUserGroups && currentUserGroups.length > 0 && isFormSet"
  >
    <div style="width: 100%; margin-bottom: 15px">
      <button
        style="padding: 0px"
        mat-stroked-button
        (click)="showFormsList()"
        style="border: none"
      >
        <mat-icon style="margin-left: -15px">arrow_back</mat-icon>Back to the
        list
      </button>
    </div>
    <div style="margin-left: 3px;">
      <h4 style="text-align: center;">
        {{ selectedForm.name }}
      </h4>
    </div>
    <div style="min-width: 10%; float: left;">
      <ngx-dhis2-selection-filters
        [selectionFilterConfig]="selectionFilterConfig"
        (filterUpdate)="onFilterUpdate($event)"
        [dataSelections]="
          selectedOrgUnitItems.length > 0 ? selectedOrgUnitItems : []
        "
      >
      </ngx-dhis2-selection-filters>
    </div>
    <div
      style="min-width: 10%; float: left; margin-left: 2%;"
      *ngIf="
        hasParentData &&
        trackedEntityInstances.length > 0 &&
        !isReportSet &&
        selectedOu
      "
    >
      <app-batch-control
        [trackedEntityInstances]="trackedEntityInstances"
        [attributeReferenceId]="'uj1YTZ099cu'"
        [itemName]="'Batch'"
        (selectedItem)="onSelectBatch($event)"
      >
      </app-batch-control>
    </div>
    <div
      style="min-width: 10%; float: left; margin-left: 10px;"
      *ngIf="
        ((selectedDataEntryForm && dataEntrySelections.batchNo != '') ||
          (selectedDataEntryForm && !hasParentData)) &&
        !isReportSet &&
        selectedOu
      "
    >
      <input
        type="date"
        class="form-control"
        [(ngModel)]="dataEntrySelections.selectedDate"
      />
    </div>
    <div>
      <a
        [ngClass]="{ 'toggle-btn-active': isReportSet == false }"
        (click)="unSetReport()"
        style="float: right; cursor: pointer;"
        >DataEntry</a
      >
      <a
        [ngClass]="{ 'toggle-btn-active': isReportSet == true }"
        (click)="setReport()"
        style="float: right; margin-right: 8px; cursor: pointer;"
        >List Report</a
      >
    </div>
  </div>
  <!-- {{ dataElements$ | async | json }} -->
  <div
    class="col-md-12"
    style="margin-top: 15px; padding: 15px !important;overflow-x: none !important;"
    *ngIf="!isReportSet && isFormSet"
  >
    <div
      *ngIf="
        (dataElements$ | async) &&
        (dataElements$ | async)?.trackedEntityAttributes &&
        dataEntrySelections.selectedDate &&
        isDefaultDataSet &&
        selectedOu
      "
    >
      <app-data-entry
        [dataEntryForm]="selectedDataEntryForm"
        [formName]="selectedProgram['name']"
        [formId]="selectedProgram['id']"
        [dataElements]="(dataElements$ | async)?.trackedEntityAttributes"
        [formType]="formType"
        [elementsDataValues]="elementsDataValues"
        (entryInfo)="entryInfo($event)"
      >
      </app-data-entry>
    </div>
    <div
      *ngIf="
        hasParentData &&
        dataEntrySelections.selectedDate &&
        !isDefaultDataSet &&
        isFormSet &&
        selectedOu
      "
    >
      <app-data-entry
        [dataEntryForm]="selectedDataEntryForm"
        [formName]="selectedProgram['name']"
        [formId]="selectedProgram['id']"
        [dataElements]="dataElements"
        [formType]="formType"
        [elementsDataValues]="elementsDataValues"
        (entryInfo)="entryInfo($event)"
      ></app-data-entry>
    </div>
  </div>
  <div
    class="col-md-12"
    style="margin-top: 15px; padding: 15px !important;overflow-x: none !important;"
    *ngIf="atLeastOneDataEntered && !isReportSet && isFormSet"
  >
    <button
      class="btn btn-success"
      style="float: left; margin-top: 15px;"
      (click)="saveData()"
    >
      Save
    </button>
  </div>
  <div
    class="col-md-12"
    *ngIf="isReportSet && entityAttributeHeaders.length > 0 && isFormSet"
    style="margin-top: 15px; width: 100%; overflow: auto;margin-top: 15px; padding: 15px !important;overflow-x: none !important;"
  >
    <app-events-list
      [dataValues]="eventValues"
      [headers]="entityAttributeHeaders"
      (eventSet)="onEventSet($event)"
    >
    </app-events-list>
  </div>
  <div
    class="col-md-12"
    *ngIf="
      isReportSet &&
      (eventsForReports$ | async) &&
      (eventsForReports$ | async)?.events
    "
    style="overflow: auto;margin-top: 15px; padding: 15px !important;overflow-x: none !important;"
  >
    <app-render-events
      [events]="(eventsForReports$ | async)?.events"
      [dataElements]="dataElements"
      [reportListHeaders]="reportListHeaders"
      (eventSet)="onEventSet($event)"
    ></app-render-events>
  </div>
  <div
    class="col-md-12"
    style="margin-top: 15px; padding: 15px !important;overflow-x: none !important;"
    *ngIf="viewEvent && isReportSet && currentEvent"
  >
    <app-data-entry
      [dataEntryForm]="selectedDataEntryForm"
      [formName]="selectedProgram['name']"
      [formId]="selectedProgram['id']"
      [dataElements]="dataElements"
      [formType]="formType"
      [elementsDataValues]="elementsDataValues"
      (entryInfo)="entryInfo($event)"
    ></app-data-entry>

    <button
      class="btn btn-primary"
      style="float: left; margin-top: 15px;"
      (click)="onDeleteEvent()"
    >
      Delete
    </button>
  </div>
</div>
