<div
  [ngClass]="{ 'stage-entry-container': !trackedEntityInstanceId }"
  *ngIf="{
    programDataStoreConfigs: programDataStoreConfigs$ | async,
    queryResponseData: queryResponseData$ | async
  } as params"
>
  <div class="header h4" *ngIf="!trackedEntityInstanceId">
    {{ programStage?.name }}
  </div>
  <hr *ngIf="!trackedEntityInstanceId" style="margin: 5px 0" />

  <mat-progress-bar
    mode="indeterminate"
    *ngIf="!params?.programDataStoreConfigs || !params?.queryResponseData"
  ></mat-progress-bar>
  <div class="body">
    <div *ngIf="params?.programDataStoreConfigs && params?.queryResponseData">
      <p-tabView
        [(activeIndex)]="index"
        *ngIf="
          currentTrackedEntityInstanceId &&
          params?.programDataStoreConfigs &&
          params?.queryResponseData
        "
      >
        <p-tabPanel [header]="programStage?.name">
          <div class="h5">
            {{ programStage?.name }}
          </div>

          <ng-template pTemplate="content">
            <div
              class="h5 text-center text-success"
              *ngIf="eventDeletingMessage != ''"
            >
              {{ eventDeletingMessage }}
            </div>
            <div class="p-2">
              <app-program-stage-data
                [program]="program"
                [trackedEntityInstanceId]="currentTrackedEntityInstanceId"
                [programStage]="programStage"
                [orgUnit]="orgUnit"
                [programDataStoreConfigs]="params?.programDataStoreConfigs"
                [showEdit]="true"
                (edit)="onEdit($event)"
                (delete)="onDeleteEvent($event)"
                (countOfEvents)="getCountOfEvents($event)"
              ></app-program-stage-data>
            </div>
          </ng-template>
        </p-tabPanel>
        <p-tabPanel
          [header]="'Entry'"
          *ngIf="
            (params?.programDataStoreConfigs['stagesToUpdateStatus'] &&
              params?.programDataStoreConfigs['stagesToUpdateStatus'][
                programStage?.id
              ] &&
              params?.programDataStoreConfigs['stagesToUpdateStatus'][
                programStage?.id
              ]?.hasEntry) ||
            isEditSet ||
            !params?.programDataStoreConfigs['stagesToUpdateStatus'] ||
            countOfEvents === 0
          "
        >
          <div class="w-100 d-flex" style="height: 20px">
            <div class="w-50 h5 text-left">Entry</div>
            <div class="w-50">
              <a
                class="float-right"
                (click)="
                  onGetExcelTemplate(
                    $event,
                    programStage,
                    params?.programDataStoreConfigs
                  )
                "
                >Get {{ programStage?.name }} import template</a
              >
            </div>
          </div>
          <ng-template class="w-100" pTemplate="content">
            <div class="p-2">
              <div class="w-100">
                <app-program-stage-data-entry
                  [queryResponseData]="params?.queryResponseData"
                  [programStateDataElements]="
                    programStage?.programStageDataElements
                  "
                  [programStageFormData]="programStageFormData"
                  [stage]="programStage"
                  [programDataStoreConfigs]="params?.programDataStoreConfigs"
                  (formValuesData)="
                    onGetFormValuesData(
                      $event,
                      programStage?.programStageDataElements
                    )
                  "
                  (isFormValid)="onGetFormValidity($event)"
                ></app-program-stage-data-entry>
              </div>
              <div class="w-100" style="height: 40px">
                <button
                  mat-stroked-button
                  (click)="onOpenFileUploadForEvents($event)"
                  class="ml-2 float-right"
                >
                  Upload data
                </button>
              </div>
            </div>
          </ng-template>
        </p-tabPanel>
      </p-tabView>
      <!-- <mat-tab-group
        [selectedIndex]="selectedTab.value"
        (selectedIndexChange)="selectedTab.setValue($event)"
        *ngIf="
          currentTrackedEntityInstanceId &&
          params?.programDataStoreConfigs &&
          params?.queryResponseData
        "
      >
        <mat-tab label="{{ programStage?.name }} ">
          <div class="p-2" *ngIf="selectedTab.value == 0">
            <app-program-stage-data
              [program]="program"
              [trackedEntityInstanceId]="currentTrackedEntityInstanceId"
              [programStage]="programStage"
              [orgUnit]="orgUnit"
              [programDataStoreConfigs]="params?.programDataStoreConfigs"
              [showEdit]="true"
              (edit)="onEdit($event)"
              (delete)="onDeleteEvent($event)"
              (countOfEvents)="getCountOfEvents($event)"
            ></app-program-stage-data>
          </div>
        </mat-tab>
        <mat-tab
          label="Entry"
          *ngIf="
            (params?.programDataStoreConfigs['stagesToUpdateStatus'] &&
              params?.programDataStoreConfigs['stagesToUpdateStatus'][
                programStage?.id
              ] &&
              params?.programDataStoreConfigs['stagesToUpdateStatus'][
                programStage?.id
              ]?.hasEntry) ||
            isEditSet ||
            !params?.programDataStoreConfigs['stagesToUpdateStatus'] ||
            countOfEvents === 0
          "
        >
          <div class="p-2" *ngIf="selectedTab.value == 1">
            <app-program-stage-data-entry
              [queryResponseData]="params?.queryResponseData"
              [programStateDataElements]="
                programStage?.programStageDataElements
              "
              [programStageFormData]="programStageFormData"
              [stage]="programStage"
              [programDataStoreConfigs]="params?.programDataStoreConfigs"
              (formValuesData)="
                onGetFormValuesData(
                  $event,
                  programStage?.programStageDataElements
                )
              "
              (isFormValid)="onGetFormValidity($event)"
            ></app-program-stage-data-entry>
          </div>
        </mat-tab>
      </mat-tab-group> -->
    </div>
  </div>
  <div class="footer-btns d-flex justify-content-end">
    <button
      class="mr-2 float-left"
      mat-stroked-button
      (click)="onClose($event)"
    >
      Close
    </button>
    <button
      [disabled]="!isFormValid"
      class="mr-2 float-left mel-btn-primary"
      mat-stroked-button
      (click)="onSaveData($event, programStage, isEditSet)"
    >
      <mat-spinner
        *ngIf="savingProgramData"
        color="accent"
        [diameter]="20"
        style="display: inline-block !important; margin-right: 4px"
      >
      </mat-spinner>
      Save
    </button>
  </div>
</div>
