.current-dashboard-description-container {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: solid thin #eeeeee;
  border-bottom: solid thin #eeeeee;
}

.data-selection-summary {
  font-size: 14px;
  margin-bottom: 5px;
}

::ng-deep .mat-expansion-panel-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 8px !important;
  border-radius: inherit;
  position: relative;
}

::ng-deep .mat-expansion-panel-body {
  border-top: solid 1px #eee !important;
  padding: 0 4px 16px !important;
}
