<div
  class="row"
  *ngIf="{ queryResponseData: queryResponseData$ | async } as params"
>
  <div class="col-12" style="margin-top: 15px">
    <button
      style="float: right; margin-left: 5px"
      mat-stroked-button
      (click)="toggleEntryAndReport('report')"
      [ngClass]="{ active: isListReportSet }"
    >
      List report
    </button>
    <button
      style="float: right; margin-left: 5px"
      mat-stroked-button
      (click)="toggleEntryAndReport('entry')"
      [ngClass]="{ active: !isListReportSet }"
    >
      Entry
    </button>
  </div>

  <div class="col-12" *ngIf="!isListReportSet">
    <div>
      <mat-form-field style="min-width: 40%" appearance="outline">
        <mat-label>{{
          program?.incidentDateLabel
            ? program?.incidentDateLabel
            : 'Reporting date'
        }}</mat-label>
        <input
          matInput
          [matDatepicker]="start_date"
          [min]="minDate"
          [max]="maxDate"
          [(ngModel)]="reportingDate"
          (dateInput)="getDate($event.value)"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="start_date"
        ></mat-datepicker-toggle>
        <mat-datepicker #start_date></mat-datepicker>
      </mat-form-field>
    </div>
    <div
      style="
        padding: 15px;
        width: 100%;
        border-radius: 15px;
        background-color: #eeeeee69;
        overflow: auto;
      "
      *ngIf="reportingDate && dateChanged"
    >
      <div *ngIf="stagesEntryOnly">
        <div class="tracked-entity-intances">
          <app-tracked-entity-instance-selector
            [queryData]="params?.queryResponseData"
            (trackedEntityInstance)="onSelectTrackedEntityInstance($event)"
          ></app-tracked-entity-instance-selector>
        </div>
      </div>
      <div *ngIf="!stagesEntryOnly">
        <app-tracked-entrity-entry-form
          [trackedEntityType]="program?.trackedEntityType"
          [formData]="formData"
          (dataValues)="onGetDataValues($event)"
          (isFormValid)="onGetFormValidityForEntities($event)"
        ></app-tracked-entrity-entry-form>
      </div>

      <mat-tab-group *ngIf="currentTrackedEntityInstanceId && stagesEntryOnly">
        <mat-tab
          *ngFor="let stage of program?.programStages"
          label="{{ stage?.name }}"
        >
          <div class="p-3">
            <mat-tab-group>
              <mat-tab label="Entry">
                <div class="p-3">
                  <app-program-stage-data-entry
                    [programStateDataElements]="stage?.programStageDataElements"
                    (formValuesData)="onGetFormValuesData($event)"
                    (isFormValid)="onGetFormValidity($event)"
                  ></app-program-stage-data-entry>
                </div>
              </mat-tab>
              <mat-tab label="Data">
                <div class="p-3">
                  <app-program-stage-data
                    *ngIf="loadStageData"
                    [program]="program"
                    [trackedEntityInstanceId]="currentTrackedEntityInstanceId"
                    [programStage]="stage"
                  ></app-program-stage-data>
                </div>
              </mat-tab>
            </mat-tab-group>

            <button
              mat-stroked-button
              class="mr-2"
              (click)="onSaveData($event, stage)"
              [disabled]="!isFormValid"
            >
              Save
            </button>
          </div>
        </mat-tab>
      </mat-tab-group>
      <mat-tab-group *ngIf="!stagesEntryOnly">
        <mat-tab
          *ngFor="let stage of program?.programStages"
          label="{{ stage?.name }}"
        >
          <div class="p-3">
            <mat-tab-group>
              <mat-tab label="Entry">
                <div class="p-3">
                  <app-program-stage-data-entry
                    [programStateDataElements]="stage?.programStageDataElements"
                    (formValuesData)="onGetFormValuesData($event)"
                    (isFormValid)="onGetFormValidity($event)"
                  ></app-program-stage-data-entry>
                </div>
              </mat-tab>
              <mat-tab label="Data">
                <div class="p-3">
                  <app-program-stage-data
                    [program]="program"
                    [trackedEntityInstanceId]="currentTrackedEntityInstanceId"
                    [programStage]="stage"
                  ></app-program-stage-data>
                </div>
              </mat-tab>
            </mat-tab-group>

            <button
              mat-stroked-button
              class="mr-2"
              (click)="onSaveData($event, stage)"
              [disabled]="!isFormValid"
            >
              Save
            </button>
          </div>
        </mat-tab>
      </mat-tab-group>

      <!-- <mat-progress-bar
        mode="indeterminate"
        *ngIf="!currentTrackedEntityInstanceId"
      ></mat-progress-bar> -->
      <!-- <app-data-entry
        [dataEntryForm]="program['programStages'][0]['dataEntryForm']"
        [formName]="program['name']"
        [formId]="program['id']"
        [dataElements]="dataElements"
        [indicators]="indicators"
        [events]="events"
        [elementsToDisable]="elementsToDisable"
        [formType]="'event'"
        [elementsDataValues]="elementsDataValues"
        (entryInfo)="onEntryInfoChange($event)"
      >
      </app-data-entry> -->
    </div>
  </div>
  <div class="col-12" *ngIf="isListReportSet">
    <div *ngIf="eventLoaded" style="width: 100%; overflow: auto">
      <!-- <app-events-report
        [events]="events"
        [reportElements]="
          program.programStages[0]['programStageSections'][0]['dataElements']
        "
      ></app-events-report> -->
      <app-tracked-entity-instance-list
        *ngIf="params?.queryResponseData"
        [queryResponse]="params?.queryResponseData"
        (edit)="onSetEdit($event)"
        (delete)="onSetDelete($event)"
      ></app-tracked-entity-instance-list>

      <mat-progress-bar
        mode="indeterminate"
        *ngIf="!params?.queryResponseData"
      ></mat-progress-bar>
    </div>
    <div *ngIf="!eventLoaded">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </div>
  <!-- <div class="col-12" style="margin-top: 15px" *ngIf="!isListReportSet">
    <p>{{ eventSaveMessage }}</p>
  </div>
  <div class="col-12" *ngIf="!isListReportSet">
    <button
      style="float: left; margin-top: 15px"
      mat-stroked-button
      [disabled]="!dataValues || dataValues.length == 0"
      (click)="saveData()"
    >
      Save
    </button>
  </div> -->
</div>
