<div class="row">
  <div class="col-12" style="margin-top: 15px">
    <button
      style="float: right; margin-left: 5px"
      mat-stroked-button
      (click)="toggleEntryAndReport('report')"
      [ngClass]="{ active: isListReportSet }"
    >
      List report
    </button>
    <button
      style="float: right; margin-left: 5px"
      mat-stroked-button
      (click)="toggleEntryAndReport('entry')"
      [ngClass]="{ active: !isListReportSet }"
    >
      Entry
    </button>
  </div>

  <div class="col-12" *ngIf="!isListReportSet">
    <div>
      <mat-form-field style="min-width: 40%" appearance="outline">
        <mat-label>{{
          program?.incidentDateLabel
            ? program?.incidentDateLabel
            : 'Reporting date'
        }}</mat-label>
        <input
          matInput
          [matDatepicker]="start_date"
          [min]="minDate"
          [max]="maxDate"
          [(ngModel)]="reportingDate"
          (dateInput)="getDate($event.value)"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="start_date"
        ></mat-datepicker-toggle>
        <mat-datepicker #start_date></mat-datepicker>
      </mat-form-field>
    </div>
    <div
      style="
        padding: 15px;
        width: 100%;
        border-radius: 15px;
        background-color: #eeeeee69;
        overflow: auto;
      "
      *ngIf="reportingDate && dateChanged && (events$ | async)"
    >
      <app-tracked-entrity-entry-form
        [trackedEntityType]="program?.trackedEntityType"
      ></app-tracked-entrity-entry-form>

      <mat-tab-group>
        <mat-tab
          *ngFor="let stage of program?.programStages"
          label="{{ stage?.name }}"
        >
          <div class="p-3">
            <app-program-stage-data-entry
              [programStateDataElements]="stage?.programStageDataElements"
              (formValuesData)="onGetFormValuesData($event)"
              (isFormValid)="onGetFormValidity($event)"
            ></app-program-stage-data-entry>
            <button
              mat-stroked-button
              class="mr-2"
              (click)="onSaveData($event)"
              [disabled]="!isFormValid"
            >
              Save
            </button>
          </div>
        </mat-tab>
      </mat-tab-group>
      <!-- <app-data-entry
        [dataEntryForm]="program['programStages'][0]['dataEntryForm']"
        [formName]="program['name']"
        [formId]="program['id']"
        [dataElements]="dataElements"
        [indicators]="indicators"
        [events]="events"
        [elementsToDisable]="elementsToDisable"
        [formType]="'event'"
        [elementsDataValues]="elementsDataValues"
        (entryInfo)="onEntryInfoChange($event)"
      >
      </app-data-entry> -->
    </div>
  </div>
  <div class="col-12" *ngIf="isListReportSet">
    <div *ngIf="events && eventLoaded" style="width: 100%; overflow: auto">
      <app-events-report
        [events]="events"
        [reportElements]="
          program.programStages[0]['programStageSections'][0]['dataElements']
        "
      ></app-events-report>
    </div>
    <div *ngIf="!eventLoaded">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </div>
  <!-- <div class="col-12" style="margin-top: 15px" *ngIf="!isListReportSet">
    <p>{{ eventSaveMessage }}</p>
  </div>
  <div class="col-12" *ngIf="!isListReportSet">
    <button
      style="float: left; margin-top: 15px"
      mat-stroked-button
      [disabled]="!dataValues || dataValues.length == 0"
      (click)="saveData()"
    >
      Save
    </button>
  </div> -->
</div>
