<div
  class="row"
  *ngIf="{
    queryResponseData: queryResponseData$ | async,
    savedUserDataStore: savedUserDataStore$ | async
  } as params"
>
  <div class="col-12" style="margin-top: 15px">
    <button
      style="float: right; margin-left: 5px"
      mat-stroked-button
      (click)="toggleEntryAndReport('report')"
      [ngClass]="{ active: isListReportSet }"
    >
      List report
    </button>
    <button
      *ngIf="!stagesEntryOnly"
      style="float: right; margin-left: 5px"
      mat-stroked-button
      (click)="toggleEntryAndReport('entry')"
      [ngClass]="{ active: !isListReportSet }"
    >
      Entry
    </button>
  </div>

  <div class="col-12" *ngIf="!isListReportSet">
    <div *ngIf="program?.programType == 'WITH_REGISTRATION'">
      <div *ngIf="!stagesEntryOnly">
        <mat-form-field style="min-width: 40%" appearance="outline">
          <mat-label>{{
            program?.incidentDateLabel
              ? program?.incidentDateLabel
              : 'Reporting date'
          }}</mat-label>
          <input
            matInput
            [matDatepicker]="start_date"
            [min]="minDate"
            [max]="maxDate"
            [(ngModel)]="reportingDate"
            (dateInput)="getDate($event.value)"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="start_date"
          ></mat-datepicker-toggle>
          <mat-datepicker #start_date></mat-datepicker>
        </mat-form-field>
      </div>
      <div
        style="
          padding: 15px;
          width: 100%;
          border-radius: 15px;
          background-color: #eeeeee69;
          overflow: auto;
        "
        *ngIf="
          (reportingDate && dateChanged && !stagesEntryOnly) || stagesEntryOnly
        "
      >
        <div *ngIf="stagesEntryOnly">
          <div class="tracked-entity-intances">
            <app-tracked-entity-instance-selector
              [queryData]="params?.queryResponseData"
              [programConfigs]="configs"
              (trackedEntityInstance)="onSelectTrackedEntityInstance($event)"
            ></app-tracked-entity-instance-selector>
          </div>
        </div>
        <div *ngIf="!stagesEntryOnly">
          <app-tracked-entrity-entry-form
            [trackedEntityType]="program?.trackedEntityType"
            [formData]="formData"
            (dataValues)="onGetDataValues($event)"
            (isFormValid)="onGetFormValidityForEntities($event)"
          ></app-tracked-entrity-entry-form>

          <div style="padding: 20px 0">
            <button
              [disabled]="!isFormForEntitiesValid"
              mat-stroked-button
              (click)="onSaveTrackedEntityFirst($event)"
              class="float-left"
            >
              <mat-spinner
                *ngIf="savingEnrollmentData"
                color="accent"
                [diameter]="20"
                style="display: inline-block !important; margin-right: 4px"
              >
              </mat-spinner>
              Save
            </button>
          </div>
        </div>

        <!-- <mat-tab-group
          [selectedIndex]="selectedTab.value"
          (selectedIndexChange)="selectedTab.setValue($event)"
          *ngIf="!stagesEntryOnly && shouldOpenStagesForEntry"
        >
          <mat-tab
            *ngFor="let stage of program?.programStages; let count = index"
            label="{{ stage?.name }}"
            (click)="changeTab(count)"
          >
            <div class="p-3" *ngIf="count == selectedTab.value">
              <mat-tab-group
                [selectedIndex]="selectedTabForDataSection.value"
                (selectedIndexChange)="
                  selectedTabForDataSection.setValue($event)
                "
              >
                <mat-tab label="Entry" (click)="changeTabForData(0)">
                  <div class="p-3" *ngIf="selectedTabForDataSection.value == 0">
                    <div
                      class="success-save-message"
                      *ngIf="savingMessage !== ''"
                    >
                      {{ savingMessage }}
                    </div>
                    <div *ngIf="showStageDataEntry">
                      <app-program-stage-data-entry
                        [programStateDataElements]="
                          stage?.programStageDataElements
                        "
                        (formValuesData)="onGetFormValuesData($event)"
                        (isFormValid)="onGetFormValidity($event)"
                      ></app-program-stage-data-entry>
                    </div>
                  </div>
                </mat-tab>
                <mat-tab label="Data" (click)="changeTabForData(1)">
                  <div class="p-3" *ngIf="selectedTabForDataSection.value == 1">
                    <app-program-stage-data
                      [program]="program"
                      [trackedEntityInstanceId]="currentTrackedEntityInstanceId"
                      [programStage]="stage"
                    ></app-program-stage-data>
                  </div>
                </mat-tab>
              </mat-tab-group>

              <button
                mat-stroked-button
                class="mr-2"
                (click)="onSaveData($event, stage)"
                [disabled]="!isFormValid"
              >
                <mat-spinner
                  *ngIf="savingProgramData"
                  color="accent"
                  [diameter]="20"
                  style="display: inline-block !important; margin-right: 4px"
                >
                </mat-spinner>
                Save
              </button>
            </div>
          </mat-tab>
        </mat-tab-group> -->
      </div>
    </div>
    <div *ngIf="program?.programType !== 'WITH_REGISTRATION'">
      <div>
        <mat-form-field style="min-width: 40%" appearance="outline">
          <mat-label>{{
            program?.incidentDateLabel
              ? program?.incidentDateLabel
              : 'Reporting date'
          }}</mat-label>
          <input
            matInput
            [matDatepicker]="start_date"
            [min]="minDate"
            [max]="maxDate"
            [(ngModel)]="reportingDate"
            (dateInput)="getDate($event.value)"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="start_date"
          ></mat-datepicker-toggle>
          <mat-datepicker #start_date></mat-datepicker>
        </mat-form-field>
      </div>
      <div *ngIf="reportingDate">
        <div style="max-height: 500px; overflow: auto">
          <app-event-program-entry
            [program]="program"
            [data]="eventDataValues"
            [formValuesArray]="elementValuesArray"
            [elementsDataValues]="elementsDataValues"
            (entryInfo)="onCustomFormDataValueChange($event)"
            (isFormValid)="onCheckFormValidity($event)"
          ></app-event-program-entry>
        </div>
        <div style="margin-top: 15px">
          <button
            [disabled]="countOfFieldsFilled < 1"
            mat-stroked-button
            (click)="onSaveEventData($event)"
            class="mr-2 float-left"
          >
            <mat-spinner
              *ngIf="savingEventWithoutRegistration"
              color="accent"
              [diameter]="20"
              style="display: inline-block !important; margin-right: 4px"
            >
            </mat-spinner>
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12" *ngIf="isListReportSet">
    <div
      *ngIf="
        params?.queryResponseData && program?.programType == 'WITH_REGISTRATION'
      "
      style="width: 100%; overflow: auto"
    >
      <app-tracked-entity-instance-list
        *ngIf="params?.queryResponseData && params?.savedUserDataStore"
        [queryResponse]="params?.queryResponseData"
        [savedUserDataStore]="params?.savedUserDataStore"
        [program]="program"
        [orgUnit]="orgUnit"
        (edit)="onSetEdit($event)"
        (delete)="onSetDelete($event)"
        (setColumnsToShow)="onOpenDialogForSettingClomnsData($event)"
      ></app-tracked-entity-instance-list>

      <mat-progress-bar
        mode="indeterminate"
        *ngIf="!params?.queryResponseData"
      ></mat-progress-bar>
    </div>
    <div
      *ngIf="
        params?.queryResponseData &&
        program?.programType !== 'WITH_REGISTRATION'
      "
    >
      <app-event-program-data
        [program]="program"
        [events]="params?.queryResponseData?.events"
        (deleteEvent)="onDeleteEventData($event)"
        (editEvent)="onEditEventData($event)"
      ></app-event-program-data>
    </div>
    <div *ngIf="!params?.queryResponseData">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </div>
</div>
<!-- // app-data-entry [dataEntryForm]="" [formName]="" [dataElements]="" [formId]=""
[formType]="" [selectedProgram]="" (entryInfo)="" [elementsDataValues]=""
[indicators]="" [events]="" [elementsToDisable]="" -->
