<div *ngIf="{ response: response$ | async } as params">
  <app-render-program-stage-data
    *ngIf="params?.response"
    [data]="params?.response"
    [programStage]="programStage"
    [programDataStoreConfigs]="programDataStoreConfigs"
    [program]="program"
    [orgUnit]="orgUnit"
    [showEdit]="showEdit"
    (edit)="onEdit($event)"
    (delete)="onDelete($event)"
    (updated)="onUpdateData($event)"
    (countOfEvents)="getCountOfEvents($event)"
  ></app-render-program-stage-data>

  <mat-progress-bar
    mode="indeterminate"
    *ngIf="!params?.response"
  ></mat-progress-bar>
</div>
