<div>
  <div style="display: inline-block">
    <button
      style="margin-right: 5px"
      [ngClass]="{ 'active-btn': !showFileUpload }"
      (click)="showUpload(false)"
      mat-stroked-button
    >
      Files
    </button>
    <button
      *ngIf="canAddNew"
      [ngClass]="{ 'active-btn': showFileUpload }"
      (click)="showUpload(true)"
      mat-stroked-button
    >
      Add new
    </button>
  </div>
  <div
    class="uploading"
    style="display: flex; width: 100%;"
    *ngIf="showFileUpload"
  >
    <input
      type="file"
      style="border: none; background-color: transparent; float: left;width: 60%;"
      class="form-control"
      name="file"
      accept=".pdf, .xls, .xlsx, .doc, .docx"
      id="fileSelector"
      (change)="fileSelection($event)"
    />

    <span *ngIf="requiredField" style="color: red;font-style: italic">
      Required
    </span>
    <span style="margin-right: 15px" *ngIf="fileResourceInfo">{{
      fileResourceInfo.resourceName
    }}</span>
    <button style="float: right" mat-stroked-button (click)="saveData()">
      Save
    </button>
  </div>
  <div *ngIf="message != ''" class="messaging">
    <p>{{ message }}</p>
  </div>
  <div *ngIf="!showFileUpload" class="list">
    <div class="data" *ngIf="(events$ | async) && currentUser">
      <app-file-resources
        [dataEntryFlow]="dataEntryFlow"
        [events]="events$ | async"
        [key]="key"
        [currentUser]="currentUser"
      ></app-file-resources>
    </div>
    <div *ngIf="!(events$ | async)">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </div>
</div>
