button {
  outline: none !important;
}
button:hover {
  outline: none !important;
}

.selected-outcome {
  font-weight: 500px;
  color: #3ea9d9;
}

.btns {
  padding: 5px 0 15px 0px;
  margin-bottom: 25px;
}
