<div *ngIf="!(currentProgram$ | async)">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<div *ngIf="(currentProgram$ | async) && (currentUser$ | async)">
  <div class="row p-2">
    <div class="col-12 d-flex align-items-center mb-3  no-print">
      <button color="primary" mat-flat-button routerLink="/data-entry">
        <mat-icon>arrow_back</mat-icon>
        <span class="ml-2">BACK TO FORMS LIST</span>
      </button>
      <div class="ml-3 report-title">
        {{ (currentProgram$ | async)?.name }}
      </div>
    </div>
    <div class="col-12">
      <mat-card>
        <div>
          <div>
            <ngx-dhis2-selection-filters
              [selectionFilterConfig]="selectionFilterConfig"
              (filterUpdate)="onFilterUpdate($event)"
              [dataSelections]="
                selectedOrgUnitItems.length > 0 ? selectedOrgUnitItems : []
              "
            >
            </ngx-dhis2-selection-filters>
          </div>
        </div>
        <div class="data-entry-section">
          <div
            *ngIf="
              type == 'upload' &&
              selectionChanged &&
              (currentProgramDataEntryFlowConfigs$ | async)
            "
          >
            <app-program-uploading
              [dataEntryFlow]="currentProgramDataEntryFlowConfigs$ | async"
              [program]="currentProgram$ | async"
              [orgUnit]="selectedOrgUnit"
              [currentUser]="currentUser$ | async"
            ></app-program-uploading>
          </div>
          <div *ngIf="type == 'entry' && selectionChanged">
            <app-program-entry
              [program]="currentProgram$ | async"
              [orgUnit]="selectedOrgUnit"
              [currentUser]="currentUser$ | async"
            ></app-program-entry>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
