<div
  class="stages-updates"
  style="padding: 25px 20px 2px 20px"
  *ngIf="{
    programDataStoreConfigs: programDataStoreConfigs$ | async,
    queryResponseData: queryResponseData$ | async,
    currentUser: currentUser$ | async
  } as params"
>
  <mat-progress-bar
    mode="indeterminate"
    *ngIf="!params?.programDataStoreConfigs || !params?.queryResponseData"
  ></mat-progress-bar>
  <mat-tab-group
    [selectedIndex]="selectedTab.value"
    (selectedIndexChange)="selectedTab.setValue($event)"
    *ngIf="
      currentTrackedEntityInstanceId &&
      params?.programDataStoreConfigs &&
      params?.queryResponseData
    "
  >
    <mat-tab
      *ngFor="let stage of program?.programStages; let count = index"
      label="{{ stage?.name }}"
      (click)="changeTab(count)"
    >
      <div
        class="p-1"
        *ngIf="count == selectedTab.value"
        style="max-height: 450px; overflow: auto"
      >
        <app-program-stage-entry-modal
          *ngIf="stage"
          [currentProgramStage]="stage"
          [currentProgram]="program"
          [trackedEntityInstanceId]="currentTrackedEntityInstanceId"
          [selectedOrgUnit]="orgUnit"
          [currentUser]="currentUser"
        ></app-program-stage-entry-modal>
        <mat-progress-bar
          mode="indeterminate"
          *ngIf="!stage"
        ></mat-progress-bar>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
