<div
  class="stages-updates"
  class="p-3"
  *ngIf="{
    programDataStoreConfigs: programDataStoreConfigs$ | async,
    queryResponseData: queryResponseData$ | async
  } as params"
>
  <mat-progress-bar
    mode="indeterminate"
    *ngIf="!params?.programDataStoreConfigs || !params?.queryResponseData"
  ></mat-progress-bar>
  <mat-tab-group
    [selectedIndex]="selectedTab.value"
    (selectedIndexChange)="selectedTab.setValue($event)"
    *ngIf="
      currentTrackedEntityInstanceId &&
      params?.programDataStoreConfigs &&
      params?.queryResponseData
    "
  >
    <mat-tab
      *ngFor="let stage of program?.programStages; let count = index"
      label="{{ stage?.name }}"
      (click)="changeTab(count)"
    >
      <div class="p-3" *ngIf="count == selectedTab.value && stage?.repeatable">
        <mat-tab-group
          [selectedIndex]="selectedTabForDataSection.value"
          (selectedIndexChange)="selectedTabForDataSection.setValue($event)"
        >
          <mat-tab label="Entry" (click)="changeTabForData($event, 0)">
            <div class="p-3" *ngIf="selectedTabForDataSection.value == 0">
              <div class="success-save-message" *ngIf="savingMessage !== ''">
                {{ savingMessage }}
              </div>
              <div *ngIf="showStageDataEntry">
                <app-program-stage-data-entry
                  [queryResponseData]="params?.queryResponseData"
                  [programStateDataElements]="stage?.programStageDataElements"
                  [programStageFormData]="programStageFormData"
                  [stage]="stage"
                  [programDataStoreConfigs]="params?.programDataStoreConfigs"
                  (formValuesData)="
                    onGetFormValuesData($event, stage?.programStageDataElements)
                  "
                  (isFormValid)="onGetFormValidity($event)"
                  (editIsSet)="onSetEditEvent($event)"
                ></app-program-stage-data-entry>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Data" (click)="changeTabForData($event, 1)">
            <div class="p-3" *ngIf="selectedTabForDataSection.value == 1">
              <app-program-stage-data
                [program]="program"
                [trackedEntityInstanceId]="currentTrackedEntityInstanceId"
                [programStage]="stage"
                (edit)="onEditEvent($event)"
                (delete)="onDeleteEvent($event)"
              ></app-program-stage-data>
            </div>
          </mat-tab>
        </mat-tab-group>

        <button
          mat-stroked-button
          class="mr-2"
          (click)="onSaveData($event, stage, isEditSet)"
          [disabled]="!isFormValid"
        >
          <mat-spinner
            *ngIf="savingProgramData"
            color="accent"
            [diameter]="20"
            style="display: inline-block !important; margin-right: 4px"
          >
          </mat-spinner>
          Save
        </button>
      </div>
      <div class="p-3" *ngIf="count == selectedTab.value && !stage?.repeatable">
        <!-- {{ stage | json }} -->
        <!-- <app-non-repeatable-entry
          [stage]="stage"
          [programDataStoreConfigs]="params?.programDataStoreConfigs"
        ></app-non-repeatable-entry> -->

        <app-non-repeatable-stage
          [trackedEntityInstanceId]="currentTrackedEntityInstanceId"
          [program]="program"
          [stage]="stage"
          [programDataStoreConfigs]="params?.programDataStoreConfigs"
        ></app-non-repeatable-stage>
      </div>
    </mat-tab>
  </mat-tab-group>

  <div class="p-3">
    <button class="float-right" mat-stroked-button (click)="onClose($event)">
      Close
    </button>
  </div>
</div>
