.output-container {
  padding: 25px;
}

.outputs {
  height: 550px;
  overflow: auto;
}

button {
  outline: none !important;
}
button:hover {
  outline: none !important;
}

.add-activity-container {
  height: 350px;
  overflow: auto;
}

.dataset-form-full-width,
.dataset-form {
  width: 100%;
}

.list-items {
  position: absolute;
  background-color: #ffffff;
  min-width: 450px;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.95);
}

.list-contents {
  height: 250px;
  overflow: auto;
  border: solid 1px #eee;
  margin-top: -10px;
}

.mat-list-base .mat-list-item,
.mat-list-base .mat-list-option {
  display: block;
  height: 45px !important;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  padding: 0;
  position: relative;
}

.filter-btns button {
  margin-left: 4px;
}

.selected-item {
  background-color: #eee;
  color: #222222;
  font-weight: 600;
}

.toggle-filter-btns {
  padding: 8px !important;
}

.toggle-filter-btns:hover {
  background-color: #ffffff !important;
}

.activities-list {
  min-height: 120px;
  max-height: 300px;
  overflow: auto;
}
