<div *ngIf="{ configurations: configurations$ | async } as params">
  <p-tabView *ngIf="params?.configurations">
    <p-tabPanel
      [header]="group.name"
      *ngFor="let group of groups; let count = index"
      [selected]="count == 0"
    >
      <div class="h6">
        <b>{{ group.name }}</b>
      </div>
      <ng-template pTemplate="content">
        <div class="p-2">
          <app-ou-data-loading
            [group]="group"
            [currentUser]="currentUser"
            [clubCategories]="clubCategories"
            [configurations]="params?.configurations"
          ></app-ou-data-loading>
        </div>
      </ng-template>
    </p-tabPanel>
  </p-tabView>
  <mat-progress-bar
    *ngIf="!params?.configurations"
    mode="indeterminate"
  ></mat-progress-bar>
</div>
