<div>
  <p-tabView>
    <p-tabPanel
      [header]="group.name"
      *ngFor="let group of groups; let count = index"
      [selected]="count == 0"
    >
      <div class="h6">
        <b>{{ group.name }}</b>
      </div>
      <ng-template pTemplate="content">
        <div class="p-2">
          <app-ou-data-loading
            [group]="group"
            [currentUser]="currentUser"
            [clubCategories]="clubCategories"
          ></app-ou-data-loading>
        </div>
      </ng-template>
    </p-tabPanel>
  </p-tabView>
  <!-- <mat-tab-group
    [selectedIndex]="selectedTab.value"
    (selectedIndexChange)="selectedTab.setValue($event)"
  >
    <mat-tab
      label="{{ group?.name }}"
      (click)="changeTab($event, count, group)"
      *ngFor="let group of groups; let count = index"
    >
      <div class="p-3" *ngIf="selectedTab.value == count">
        <app-ou-data-loading
          [group]="group"
          [currentUser]="currentUser"
          [clubCategories]="clubCategories"
        ></app-ou-data-loading>
      </div>
    </mat-tab>
  </mat-tab-group> -->
</div>
