<div
  *ngIf="{
    selectedAttribute: selectedAttribute$ | async,
    loadedAttributesState: loadedAttributesState$ | async,
    programs: programs$ | async,
    currentUser: currentUser$ | async,
    systemIds: systemIds$ | async,
    userGroups: userGroups$ | async
  } as params"
>
  <div class="h5 p-3 mat-elevation-z1" style="margin: 0 -15px 15px -15px">
    General Registration
  </div>

  <mat-progress-bar
    mode="indeterminate"
    *ngIf="
      !params?.userGroups ||
      !params?.programs ||
      !params?.loadedAttributesState ||
      !params?.currentUser ||
      !params?.systemIds
    "
  ></mat-progress-bar>
  <app-home-tabs
    *ngIf="
      params?.userGroups &&
      params?.programs &&
      params?.loadedAttributesState &&
      params?.currentUser &&
      params?.systemIds
    "
    [programs]="params?.programs"
    [userGroups]="params?.userGroups"
    [currentUser]="params?.currentUser"
    [selectedAttribute]="params?.selectedAttribute"
    [systemIds]="params?.systemIds"
  ></app-home-tabs>
  <!-- <mat-tab-group
    [selectedIndex]="selectedTab.value"
    (selectedIndexChange)="selectedTab.setValue($event)"
  >
    <mat-tab label="Club Registration" (click)="changeTab(0)">
      <div class="p-3" *ngIf="selectedTab.value == 0">
        <app-create-organisation-unit
          *ngIf="params?.loadedAttributesState"
          [clubCategories]="params?.selectedAttribute?.optionSet?.options"
        ></app-create-organisation-unit>

        <mat-progress-bar
          mode="indeterminate"
          *ngIf="!params?.loadedAttributesState"
        ></mat-progress-bar>
      </div>
    </mat-tab>
    <mat-tab label="Trainings" (click)="changeTab(1)">
      <div class="p-3" *ngIf="selectedTab.value == 1">
        <app-training-registration
          *ngIf="params?.programs && params?.currentUser && params?.systemIds"
          [programs]="params?.programs"
          [currentUser]="params?.currentUser"
          [systemIds]="params?.systemIds"
        ></app-training-registration>

        <mat-progress-bar
          mode="indeterminate"
          *ngIf="
            !params?.programs || !params?.currentUser || !params?.systemIds
          "
        ></mat-progress-bar>
      </div>
    </mat-tab>

    <mat-tab label="Bills, Laws & Policies" (click)="changeTab(2)">
      <div class="p-3" *ngIf="selectedTab.value == 2">
        <app-tracker-general-registration
          *ngIf="params?.programs && params?.currentUser && params?.systemIds"
          [programs]="params?.programs"
          [currentUser]="params?.currentUser"
          [systemIds]="params?.systemIds"
        ></app-tracker-general-registration>

        <mat-progress-bar
          mode="indeterminate"
          *ngIf="
            !params?.programs || !params?.currentUser || !params?.systemIds
          "
        ></mat-progress-bar>
      </div>
    </mat-tab>

    <mat-tab label="Media Awareness Programs" (click)="changeTab(3)">
      <div class="p-3" *ngIf="selectedTab.value == 3">
        <p>Register a program</p>
      </div>
    </mat-tab>
    <mat-tab label="User groups" (click)="changeTab(4)"></mat-tab>
    <mat-tab label="Roles" (click)="changeTab(5)"></mat-tab>
  </mat-tab-group> -->
</div>
