<div
  *ngIf="{
    selectedAttribute: selectedAttribute$ | async,
    loadedAttributesState: loadedAttributesState$ | async
  } as params"
>
  <mat-tab-group>
    <mat-tab label="Club Registration">
      <div class="p-3">
        <app-create-organisation-unit
          *ngIf="params?.loadedAttributesState"
          [clubCategories]="params?.selectedAttribute?.optionSet?.options"
        ></app-create-organisation-unit>

        <mat-progress-bar
          mode="indeterminate"
          *ngIf="!params?.loadedAttributesState"
        ></mat-progress-bar>
      </div>
    </mat-tab>
    <mat-tab label="Media Awareness Programs">
      <div class="p-3">
        <p>Register a program</p>
      </div>
    </mat-tab>
    <mat-tab label="Trainings">
      <div class="p-3">
        <p>Register Training modules</p>
      </div>
    </mat-tab>
    <mat-tab label="User groups"></mat-tab>
    <mat-tab label="Roles"></mat-tab>
  </mat-tab-group>
</div>
