<div
  *ngIf="{
    selectedAttribute: selectedAttribute$ | async,
    loadedAttributesState: loadedAttributesState$ | async,
    programs: programs$ | async,
    currentUser: currentUser$ | async,
    systemIds: systemIds$ | async,
    userGroups: userGroups$ | async
  } as params"
>
  <div class="h5 p-3 mat-elevation-z1" style="margin: 0 -15px 15px -15px">
    General Registration
  </div>

  <mat-progress-bar
    mode="indeterminate"
    *ngIf="
      !params?.userGroups ||
      !params?.programs ||
      !params?.loadedAttributesState ||
      !params?.currentUser ||
      !params?.systemIds
    "
  ></mat-progress-bar>
  <app-home-tabs
    *ngIf="
      params?.userGroups &&
      params?.programs &&
      params?.loadedAttributesState &&
      params?.currentUser &&
      params?.systemIds
    "
    [programs]="params?.programs"
    [userGroups]="params?.userGroups"
    [currentUser]="params?.currentUser"
    [selectedAttribute]="params?.selectedAttribute"
    [systemIds]="params?.systemIds"
  ></app-home-tabs>
</div>
