<div
  class="users"
  *ngIf="{
    users: users$ | async,
    userGroupsConfigs: userGroupsConfigs$ | async
  } as userParams"
>
  <div *ngIf="userParams?.users && userParams?.userGroupsConfigs">
    <app-user-list
      [users]="userParams?.users?.users"
      [currentUser]="currentUser"
      [userGroupsConfigs]="userParams?.userGroupsConfigs"
      (reLoadUsers)="onReloadUsers($event)"
    ></app-user-list>
  </div>

  <mat-progress-bar
    *ngIf="!userParams?.users || !userParams?.userGroupsConfigs"
    mode="indeterminate"
  ></mat-progress-bar>
</div>
