<!-- <div class="row">
  <div
    class="col-md-12"
    *ngIf="
      userGroupsControl['waste'] &&
      userGroupsControl['waste'].length == 0 &&
      userGroupsControl['HR'] &&
      userGroupsControl['HR'].length == 0 &&
      userGroupsControl['corrective'] &&
      userGroupsControl['corrective'].length == 0 &&
      userGroupsControl['fortification'] &&
      userGroupsControl['fortification'].length == 0
    "
  >
    <h4 style="text-align: center; margin-top: 70px; color: brown">
      You do not have access to data entry
    </h4>
  </div>
  <div class="col-md-12">
    <mat-tab-group mat-align-tabs="start">
      <mat-tab
        label="Fortification"
        *ngIf="userGroupsControl['fortification'].length > 0"
      >
        <app-fortification></app-fortification>
      </mat-tab>
      <mat-tab
        label="Corrective Actions"
        *ngIf="userGroupsControl['corrective'].length > 0"
      >
        <app-corrective-actions></app-corrective-actions>
      </mat-tab>

      <mat-tab
        label="Waste & Energy Management"
        *ngIf="userGroupsControl['waste'].length > 0"
      >
        <app-waste-energy-management></app-waste-energy-management>
      </mat-tab>

      <mat-tab
        label="Human Resources Management"
        *ngIf="userGroupsControl['HR'].length > 0"
      >
        <app-human-resource-management></app-human-resource-management>
      </mat-tab>
    </mat-tab-group>
  </div>
</div> -->

<div class="row">
  <div class="col-md-3">
    <ul class="list-group">
      <li class="list-group-item-header" style="border: none !important;">
        Departments
      </li>
      <li
        class="list-group-item"
        [ngClass]="{
          'active-department': currentDepartment.id == department.id
        }"
        (click)="onSetCurrentDepartment(department)"
        *ngFor="let department of departments"
      >
        <div
          class="row"
          [ngClass]="{
            'active-department': currentDepartment.id == department.id
          }"
        >
          <div
            class="col-1"
            style="padding: 10px 0px 10px 2px !important"
            [ngClass]="{
              'selected-item': currentDepartment.id == department.id,
              '': currentDepartment.id != department.id
            }"
          ></div>
          <div class="col-11" style="padding: 10px 0px 10px 2px !important">
            {{ department.name }}
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-md-9">
    <h4>{{ currentDepartment.name }}</h4>
    <div>
      {{ programs | json }}
    </div>
  </div>
</div>
