<div class="row" style="margin-top: 20px">
  <div class="col-md-8">
    <div class="forms">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Select form</mat-label>
        <mat-select required (selectionChange)="getForm($event.value)">
          <mat-option *ngFor="let option of programs" [value]="option">
            {{ option.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="ou-filter">
      <button
        style="text-align: left; padding: 10px 8px"
        class="w-100"
        (click)="onToggleOuFilter($event)"
        mat-stroked-button
      >
        Organisation unit
        <span *ngIf="selectedOu && !ouFilterIsSet"
          >: {{ selectedOu?.name }}</span
        >
      </button>
      <ngx-dhis2-org-unit-filter
        *ngIf="ouFilterIsSet"
        [selectedOrgUnitItems]="selectedOrgUnits"
        [orgUnitFilterConfig]="orgUnitFilterConfig"
        (orgUnitClose)="onFilterClose($event)"
        (orgUnitUpdate)="onFilterUpdate($event)"
      ></ngx-dhis2-org-unit-filter>
    </div>

    <div *ngIf="paramersSet && currentProgram">
      <app-program-entry
        [program]="currentProgram"
        [orgUnit]="selectedOu"
        [currentUser]="currentUser"
      ></app-program-entry>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>
