<div *ngIf="{dataResponse: dataResponse$ | async} as dataParams">
    <div *ngIf="dataParams?.dataResponse">
        <!-- {{dataParams?.dataResponse | json}} -->
        <mat-accordion>
            <mat-expansion-panel
              [expanded]="true"
            >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Summary for {{program?.name}}
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <table class="table" *ngIf="dataParams?.dataResponse?.length > 0">
                  <tr *ngFor="let data of dataParams?.dataResponse">
                      <td>
                          {{data?.name}}
                      </td>
                      <th>{{data?.value}}</th>
                  </tr>
              </table>
              <div class="text-center" *ngIf="dataParams?.dataResponse?.length == 0">
                  <p>No indicators defined</p>
              </div>
            </mat-expansion-panel>
            <mat-expansion-panel
              [expanded]="false"
            >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Quick reference
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div *ngIf="configs?.instructions">
                 <p *ngFor="let instruction of configs?.instructions; let count= index">
                     <span><b>{{count+1}}.</b></span>
                     <span style="margin-left: 6px;">{{instruction}}</span>
                 </p>
              </div>
              <div *ngIf="!configs?.instructions">
                <p class="text-center"> No defined instructions
                </p>
             </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <mat-progress-bar
      *ngIf="!dataParams?.dataResponse"
      mode="indeterminate"
    ></mat-progress-bar>
</div>