<div
  class="user-groups"
  *ngIf="{ userGroups: userGroups$ | async } as userParams"
>
  <div *ngIf="userParams?.userGroups">
    <mat-tab-group>
      <mat-tab
        *ngFor="let section of userGroupsConfigs"
        label="{{ section?.name }}"
      >
        <div class="p-2">
          <app-user-groups-list
            [currentUser]="currentUser"
            [section]="section"
            [userGroups]="userParams?.userGroups?.userGroups"
          ></app-user-groups-list>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

  <mat-progress-bar
    *ngIf="!userParams?.userGroups"
    mode="indeterminate"
  ></mat-progress-bar>
</div>
