<div
  class="inteprentations-container"
  *ngIf="{
    savingInterpretationResponse: savingInterpretationResponse$ | async,
    interpretationResponse: interpretationResponse$ | async,
    allInterpretationsTypesResponse: allInterpretationsTypesResponse$ | async
  } as params"
>
  <div>
    <div class="w-100">
      <mat-accordion
        *ngIf="
          params?.interpretationResponse &&
          params?.interpretationResponse.length > 0
        "
      >
        <mat-expansion-panel [expanded]="shouldOpenAccordion">
          <mat-expansion-panel-header>
            <mat-panel-title> View Intepretations </mat-panel-title>
            <!-- <mat-panel-description> </mat-panel-description> -->
          </mat-expansion-panel-header>
          <div
            class="row"
            *ngIf="params?.interpretationResponse"
            style="max-height: 500px; overflow: auto; padding: 5px 40px"
          >
            <div
              class="col-md-12 mb-2"
              *ngFor="let interpretation of params?.interpretationResponse"
            >
              <div class="interpretation">
                <div class="w-100 p-2 mb-2 mt-4" style="background-color: #eee">
                  <app-shared-visualization
                    *ngIf="showAllTypesOfInterpretations"
                    [visualizationId]="interpretation?.eventReport?.id"
                  ></app-shared-visualization>
                </div>
                <div class="p-1 w-100">
                  <p>
                    <span class="user-details">
                      {{ interpretation?.user?.displayName }}
                    </span>
                    <span class="ml-2 interpretation-date">
                      {{ interpretation?.created | date }}
                    </span>
                  </p>
                </div>
                <p style="margin: -10px 5px">{{ interpretation?.text }}</p>
              </div>
              <div class="comments w-100 mb-2">
                <div class="comments-list">
                  <h5>Comments:</h5>
                  <div
                    class="p-1 w-100"
                    *ngFor="let userComment of interpretation?.comments"
                  >
                    <p class="mt-4">
                      <span class="user-details">
                        {{ userComment?.user?.displayName }}
                      </span>
                      <span class="ml-2 interpretation-date">
                        {{ userComment?.created | date }}
                      </span>
                    </p>
                    <p style="margin: -10px 5px">{{ userComment?.text }}</p>
                  </div>
                </div>
                <div class="w-100">
                  <mat-form-field class="w-100">
                    <mat-label>Comment</mat-label>
                    <textarea
                      matInput
                      (keyup)="setComment($event, interpretation)"
                    ></textarea>
                  </mat-form-field>
                </div>
                <button
                  mat-stroked-button
                  [disabled]="!comment || savingComment"
                  class="float-left"
                  (click)="onSaveComment($event, comment, interpretation)"
                >
                  <mat-spinner
                    *ngIf="savingComment"
                    color="accent"
                    [diameter]="20"
                    style="display: inline-block !important; margin-right: 4px"
                  >
                  </mat-spinner>
                  Post
                </button>
              </div>
            </div>
          </div>
          <mat-progress-bar
            mode="indeterminate"
            *ngIf="!params?.interpretationResponse"
          ></mat-progress-bar>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <mat-form-field
      class="w-100"
      *ngIf="
        params?.interpretationResponse &&
        params?.interpretationResponse?.length === 0
      "
    >
      <mat-label>{{ itemNameForSharing }}</mat-label>
      <textarea matInput (keyup)="setDescription($event)"></textarea>
    </mat-form-field>
    <div
      class="w-100 d-flex justify-content-end"
      *ngIf="
        params?.interpretationResponse &&
        params?.interpretationResponse?.length === 0
      "
    >
      <button
        mat-stroked-button
        [disabled]="!description"
        class="float-right"
        (click)="onSave($event, description, itemType, parameters, itemUid)"
      >
        <mat-spinner
          *ngIf="savingInterpretation && !params?.savingInterpretationResponse"
          color="accent"
          [diameter]="20"
          style="display: inline-block !important; margin-right: 4px"
        >
        </mat-spinner>
        Save
      </button>
    </div>
  </div>
</div>
