<div class="grouped-items w-100">
  <div class="p-3 items-available-body">
    <ul class="list">
      <li
        *ngFor="let item of items | removeItems: itemsSelected"
        (click)="onSelectItem($event, item)"
      >
        <a>
          {{ item?.name }}
        </a>
      </li>
    </ul>
  </div>
  <div class="p-3 items-selected-body">
    <ul>
      <li
        *ngFor="let item of itemsSelected"
        (click)="onDeselectItem($event, item)"
      >
        <a>
          {{ item?.name }}
        </a>
      </li>
    </ul>
  </div>
</div>
