<div class="dashboard-menu-container no-print">
  <ul
    class="dashboard-groups"
    *ngIf="dashboardGroups && dashboardGroups.length > 0"
  >
    <li
      *ngFor="let dashboardGroup of dashboardGroups"
      [ngClass]="{ current: dashboardGroup.id === activeDashboardGroupId }"
      (click)="onSetActiveDashboardGroup(dashboardGroup)"
    >
      {{ dashboardGroup.name }}
    </li>
  </ul>
  <!-- / tabs -->
  <div
    class="dashboard-menu w-100 d-flex justify-content-left"
    style="margin-bottom: -10px"
  >
    <ul
      style="overflow-x: auto; overflow-y: hidden"
      class="dashboard-menu-list"
    >
      <!-- Hide add dashboard actions -->

      <li *ngFor="let dashboardMenuItem of dashboardMenuList | sortByBookmark">
        <app-dashboard-menu-item
          [dashboardMenuItem]="dashboardMenuItem"
          [currentDashboardId]="currentDashboardId"
          (setDashboard)="onSetCurrentDashboard($event)"
          (toggleDashboardMenuItemBookmark)="
            onToggleDashboardMenuItemBookmark($event)
          "
          (dashboardToEdit)="onSetEditDashboard($event)"
        ></app-dashboard-menu-item>
      </li>
      <!-- </ul>
    <div class="col-md-1 col-sx-12 col-sm-12">
      <ul
        style="list-style-type: none; padding: 0"
        class="d-flex justify-content-left"
      > -->
      <li class="ml-2">
        <app-add-dashboard
          (create)="onCreateDashboard($event)"
        ></app-add-dashboard>
      </li>
      <li class="ml-2">
        <a routerLink="/dashboards/analysis/playground" title="Play ground">
          <img
            height="18"
            style="margin-top: 5px"
            src="assets/icons/combined.png"
          />
        </a>
      </li>
    </ul>
    <!-- </div> -->
  </div>

  <!-- / tab_content -->
</div>
<!-- / tab -->
