<div
  class="row"
  *ngIf="{
    currentTrackedEntityInstance: currentTrackedEntityInstance$ | async,
    programDataStoreConfigs: programDataStoreConfigs$ | async
  } as params"
>
  <div [ngClass]="{ 'col-md-9': !isReportSet, 'col-12': isReportSet }">
    <mat-tab-group
      (selectedTabChange)="changeTab(selectedTab.value)"
      [selectedIndex]="selectedTab.value"
      (selectedIndexChange)="selectedTab.setValue($event)"
    >
      <mat-tab
        *ngFor="let program of trainingRegistrationPrograms; let count = index"
        [label]="program?.name"
      >
        <div class="h6">
          <b>{{ program.name }}</b>
        </div>

        <div class="p-2">
          <button
            class="w-100 text-left p-2"
            (click)="onToggleRegisteringUnitFilter($event)"
            mat-stroked-button
          >
            Organisation Unit:
            <b>
              <span
                *ngIf="
                  selectedRegisteringUnits &&
                  selectedRegisteringUnits?.length > 0
                "
                >{{ selectedRegisteringUnits[0]?.name }}</span
              >
            </b>
          </button>
          <div *ngIf="registeringUnitFilterIsSet">
            <ngx-dhis2-org-unit-filter
              [maxHeight]="'320px'"
              [selectedOrgUnitItems]="selectedRegisteringUnits"
              [assignedOrgUnits]="program?.organisationUnits"
              [isDataEntry]="true"
              [orgUnitFilterConfig]="orgUnitFilterConfig"
              (orgUnitClose)="onFilterClose($event)"
              (orgUnitUpdate)="onOuUpdate($event)"
            ></ngx-dhis2-org-unit-filter>
          </div>
          <!-- <div class="h5 w-100 text-left">{{ program?.name }}</div> -->
          <div
            class="control-btn w-100 d-flex justify-content-end"
            style="margin-top: 10px"
          >
            <button
              style="margin-right: 6px"
              [ngClass]="{ 'mel-btn-primary': !isReportSet }"
              mat-stroked-button
              (click)="onToggleReport($event, 'new')"
            >
              <span>New</span>
            </button>
            <button
              [ngClass]="{ 'mel-btn-primary': isReportSet }"
              [disabled]="
                !selectedRegisteringUnits ||
                selectedRegisteringUnits?.length === 0
              "
              [title]="
                !selectedRegisteringUnits ||
                selectedRegisteringUnits?.length === 0
                  ? 'Select Organisation Unit'
                  : 'Click to view list report for selected Org. Unit'
              "
              mat-stroked-button
              (click)="onToggleReport($event, 'report')"
            >
              <span>List Report</span>
            </button>
          </div>
          <div
            *ngIf="
              isReportSet &&
              selectedRegisteringUnits?.length > 0 &&
              !ouHasChanged
            "
            class="w-100"
          >
            <app-trainings-list
              [program]="program"
              [currentUser]="currentUser"
              [ouId]="selectedRegisteringUnits[0]?.id"
              [orgUnit]="selectedRegisteringUnits[0]"
              (edit)="onSetEdit($event, program)"
            ></app-trainings-list>
          </div>
          <div *ngIf="!isReportSet && selectedRegisteringUnits?.length > 0">
            <div
              class="success-save-message"
              *ngIf="!savingData && savingMessage != '' && !hasError"
            >
              {{ savingMessage }}
            </div>

            <div
              class="error-save-message"
              *ngIf="!savingData && savingMessage != '' && hasError"
            >
              {{ savingMessage }}
            </div>
            <div
              style="
                max-height: 70vh;
                overflow: auto;
                min-height: 40vh;
                margin-top: 20px;
                padding: 8px 15px;
                margin-bottom: 15px;
              "
            >
              <div
                style="margin-bottom: 10px"
                *ngIf="
                  params?.programDataStoreConfigs &&
                  params?.programDataStoreConfigs?.needsLocation
                "
              >
                <button
                  class="w-100 text-left p-2"
                  (click)="onToggleOuFilter($event)"
                  mat-stroked-button
                >
                  Location:
                  <b>
                    <span
                      *ngIf="selectedOrgUnits && selectedOrgUnits?.length > 0"
                      >{{ selectedOrgUnits[0]?.name }}</span
                    >
                  </b>
                </button>
                <div *ngIf="ouFilterIsSet">
                  <ngx-dhis2-org-unit-filter
                    [maxHeight]="'320px'"
                    [selectedOrgUnitItems]="selectedOrgUnits"
                    [orgUnitFilterConfig]="orgUnitFilterConfig"
                    (orgUnitClose)="onFilterClose($event)"
                    (orgUnitUpdate)="onLocationUpdate($event)"
                  ></ngx-dhis2-org-unit-filter>
                </div>
              </div>

              <div class="w-25">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Event date</mat-label>
                  <input
                    matInput
                    [matDatepicker]="start_date"
                    [min]="minDate"
                    [max]="maxDate"
                    [(ngModel)]="reportingDate"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="start_date"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #start_date></mat-datepicker>
                </mat-form-field>
              </div>
              <app-tracked-entrity-entry-form
                *ngIf="reportingDate"
                [trackedEntityType]="program?.trackedEntityType"
                [formData]="formData"
                [reportingDate]="reportingDate"
                (dataValues)="onGetDataValues($event, currentUser)"
                (isFormValid)="onGetFormValidity($event)"
              ></app-tracked-entrity-entry-form>

              <div
                class="btns d-flex justify-content-end"
                style="margin-bottom: 20px; margin-top: 20px"
              >
                <button
                  mat-stroked-button
                  style="margin-right: 5px"
                  (click)="onCancel($event)"
                >
                  Cancel
                </button>
                <button
                  class="mr-2 float-left mel-btn-primary"
                  mat-stroked-button
                  [disabled]="
                    !isFormValid ||
                    savedData ||
                    selectedRegisteringUnits.length == 0 ||
                    !currentTrackedEntityInstanceId
                  "
                  (click)="
                    onSaveData(
                      $event,
                      editingData,
                      currentTrackedEntityInstanceId,
                      program
                    )
                  "
                >
                  <mat-spinner
                    *ngIf="savingData && savingMessage != ''"
                    color="accent"
                    [diameter]="20"
                    style="display: inline-block !important; margin-right: 4px"
                  >
                  </mat-spinner>
                  Save
                </button>
                <button
                  [disabled]="!editData || !currentTrackedEntityInstanceId"
                  *ngIf="program?.updateStages"
                  mat-stroked-button
                  (click)="
                    onUpdateStages(
                      $event,
                      program,
                      currentTrackedEntityInstanceId
                    )
                  "
                >
                  More (tracking data)
                </button>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div
    [ngClass]="{ 'col-md-3': !isReportSet, '': isReportSet }"
    [ngStyle]="{ display: isReportSet ? 'none' : 'block' }"
  >
    <div class="summary" *ngIf="params?.programDataStoreConfigs">
      <app-entry-side-bar-summary
        [program]="currentProgram"
        [configs]="params?.programDataStoreConfigs"
      ></app-entry-side-bar-summary>
    </div>
    <mat-progress-bar
      *ngIf="!params?.programDataStoreConfigs"
      mode="indeterminate"
    ></mat-progress-bar>
  </div>
</div>
