<div
  class="row"
  *ngIf="{
    currentTrackedEntityInstance: currentTrackedEntityInstance$ | async
  } as params"
>
  <div [ngClass]="{ 'col-md-8': !isReportSet, 'col-12': isReportSet }">
    <mat-tab-group
      [selectedIndex]="selectedTab.value"
      (selectedIndexChange)="selectedTab.setValue($event)"
    >
      <mat-tab
        (click)="changeTab(count)"
        *ngFor="let program of trainingRegistrationPrograms; let count = index"
        label="{{ program?.name }}"
      >
        <div class="p-3">
          <!-- <div class="h5 w-100 text-left">{{ program?.name }}</div> -->
          <div class="control-btn w-100 p-2" style="height: 52px">
            <button
              mat-stroked-button
              class="mr-2 float-left"
              (click)="onToggleReport($event)"
            >
              <span *ngIf="isReportSet">New</span>
              <span *ngIf="!isReportSet">Registered</span>
            </button>
          </div>
          <div *ngIf="isReportSet" class="w-100">
            <app-trainings-list
              [program]="program"
              [ouId]="'zs9X8YYBOnK'"
              (edit)="onSetEdit($event, program)"
            ></app-trainings-list>
          </div>
          <div *ngIf="!isReportSet">
            <div
              class="success-save-message"
              *ngIf="!savingData && savingMessage != '' && !hasError"
            >
              {{ savingMessage }}
            </div>

            <div
              class="error-save-message"
              *ngIf="!savingData && savingMessage != '' && hasError"
            >
              {{ savingMessage }}
            </div>
            <div
              style="
                max-height: 70vh;
                overflow: auto;
                min-height: 40vh;
                margin-top: 20px;
                padding: 8px 15px;
              "
            >
              <div>
                <button
                  class="w-100 text-left p-2"
                  (click)="onToggleOuFilter($event)"
                  mat-stroked-button
                >
                  Location:
                  <b>
                    <span
                      *ngIf="selectedOrgUnits && selectedOrgUnits?.length > 0"
                      >{{ selectedOrgUnits[0]?.name }}</span
                    >
                  </b>
                </button>
                <div *ngIf="ouFilterIsSet">
                  <ngx-dhis2-org-unit-filter
                    [selectedOrgUnitItems]="selectedOrgUnits"
                    [orgUnitFilterConfig]="orgUnitFilterConfig"
                    (orgUnitClose)="onFilterClose($event)"
                    (orgUnitUpdate)="onFilterUpdate($event)"
                  ></ngx-dhis2-org-unit-filter>
                </div>
              </div>

              <app-tracked-entrity-entry-form
                [trackedEntityType]="program?.trackedEntityType"
                [formData]="formData"
                (dataValues)="onGetDataValues($event)"
                (isFormValid)="onGetFormValidity($event)"
              ></app-tracked-entrity-entry-form>
            </div>
            <div class="btns">
              <button
                class="mr-2 float-left"
                mat-stroked-button
                [disabled]="
                  !isFormValid || savedData || selectedOrgUnits[0].length == 0
                "
                (click)="
                  onSaveData(
                    $event,
                    editingData,
                    currentTrackedEntityInstanceId,
                    program
                  )
                "
              >
                <mat-spinner
                  *ngIf="savingData && savingMessage != ''"
                  color="accent"
                  [diameter]="20"
                  style="display: inline-block !important; margin-right: 4px"
                >
                </mat-spinner>
                Save
              </button>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div [ngClass]="{ 'col-md-4': !isReportSet, '': isReportSet }"></div>
</div>
